<div>
  <%= form.select :amenity_rate_id, options_for_select(presenter.amenity_rate_options, presenter.selected_amenity_rate_id), {},  class: "apply-padding", "data-amenity-booking-target": "rate",  "data-action": "change->amenity-booking#calculateSubtotal"  %>
</div>
