<div class="questions">
  <h2><%= title %></h2>
  <ul class=<%= "#{title.parameterize.underscore}_questions" %>>
    <% questions.each do |question| %>
      <%= render question.render_values %>
    <% end %>
  </ul>
</div>
