<div class="question">
  <span class="question_text"><%= question.question %></span>
  <div class="answers">
    <%= f.text_area :text_answer, aria: { label: t(".aria_label_for", question: question.id) } %>
  </div>
</div>
