<table id="funding-summary-table" class="summary-table">
  <thead>
    <tr>
      <th><%= t(".title") %></th>
      <th><%= t(".funding_agency") %></th>
      <th><%= t(".award_amount") %></th>
    </tr>
  </thead>
  <tbody>
    <% if presenter.fundings.present? %>
      <%= render partial: "shared/projects/funding", collection: presenter.fundings %>
    <% else %>
      <td colspan="3" class="empty" style="text-align:center;">No Funding</td>
    <% end %>
  </tbody>
</table>
