<div id="permit-summary-list">
  <% presenter.permit_answers.each do |authority, permit_answers| %>
    <div class="<%= authority %>_permits">
      <h3 class="subheader"><%= authority %> <%= t(".permits") %></h3>
      <ul class="summary-list">
        <% permit_answers.each do |permit_answer| %>
          <li><%= permit_answer.permit_statement %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
