<section class="project-visits">
  <h2 class="main-header"><%= t(".visits", size: presenter.visits.size) %></h2>
  <%= link_to t(".schedule_a_visit"), new_visit_path%>
  <table id="project-visit-requests" class="visit-requests">
    <%= render partial: "shared/projects/visit", collection: presenter.visits %>
  </table>
</section>
