<div class="amenity_group">
  <h3><%= group_label %></h3>
  <% amenities.each do |amenity| %>
    <%= fields_for "visit[amenities][#{ amenity.amenity_id }]", amenity.form do |form| %>
      <%= render partial: "visits/amenities/amenity", locals: { form: form, presenter: amenity, group_label: group_label } %>
    <% end %>
  <% end %>
</div>
