<header class="amenities-header">
  <h2>
    <%= t(".select_amenities") %>
  </h2>
  <span><%= t(".rate_determined", institution: @presenter.institution_name) %></span>
  <% if @presenter&.reserve&.amenity_for_visit_message_enabled? %>
    <%= tag.div simple_format(@presenter.reserve.amenity_for_visit_message), class: "reserve-message" %>
  <% end %>
</header>
<section class="amenity-options">
  <% @presenter.amenities_by_group_label.each do |group_label, amenities| %>
    <%= render partial: "visits/amenities/amenities",
      locals: { group_label: group_label, amenities: amenities }
    %>
  <% end %>
</section>
