<turbo-frame id="reserve_permits-table">
  <table class="reserve_permits-table">
    <thead>
      <tr>
        <th><%= t(".question") %></th>
        <th width="15"><%= t(".enabled") %></th>
        <th width="20"></th>
      </tr>
    </thead>
    <tbody>
      <% reserve_permits.each do |permit_authority, reserve_permits| %>
        <tr class="header"><th colspan="5"><%= permit_authority %></th></tr>
        <%= render partial: "reserve_permit", collection: reserve_permits %>
      <% end %>
    </tbody>
  </table>
</turbo-frame>
