<div class="tag-btn">
  <%= check_box(
    "tag_names",
    reserve_tag_category,
    { multiple: true, onchange: "this.form.requestSubmit()", id: "tags_selected_#{reserve_tag_name}"},
    reserve_tag_name,
    nil
  ) %>
  <%= tag.label reserve_tag_name.capitalize, class: "name-tag", for: "tags_selected_#{reserve_tag_name}" %>
</div>
