<div class="tag-group">
  <%= render partial: "shared/reserves/tag",
    locals: { tag_name: tag_type, name: "tag_type", data: { action: "change->reserve-tag#toggle" } }
  %>
  <div class="<%= tag_type %> tags-container tags-names" >
    <%= render partial: "reserve_tag_name", collection: tag_names, locals: { reserve_tag_category: tag_type } %>
  </div>
</div>
