<div class="tag-btn">
  <%= check_box( "tags", "selected", { multiple: true, onchange: "this.form.requestSubmit()" }, tag, nil) %>
  <label for="tags_selected_<%= tag %>" ><%= tag.capitalize %></label>
</div>
