DATABASE_USERNAME=root
DATABASE_PASSWORD=""
DATABASE_HOST=localhost
DATABASE_PORT=3306
HOST=localhost
PROTOCOL=http
SMTP_HOST=maildelivery.server
SMTP_PORT=587
SMTP_USERNAME=emailuser
SMTP_PASSWORD=12345
SMTP_DOMAIN=ucnrs.org
