# Database config
DATABASE_HOST=host.docker.internal
DATABASE_NAME=ucnrs_rams_development
DATABASE_USERNAME=rams-docker-user
DATABASE_PASSWORD="placeholder"
DATABASE_PORT=3306

# Host config
HOST=localhost
PROTOCOL=http
PORT=3000
FORCE_SSL=false

# SMTP config
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=emailuser
SMTP_PASSWORD=12345
SMTP_DOMAIN=localhost

# Secret key base for Rails
SECRET_KEY_BASE=placeholder

# AWS S3 config
AWS_ACCESS_KEY=placeholder
AWS_SECRET_KEY=placeholder

# ORCID config
ORCID_CLIENT_ID=APP-something
ORCID_CLIENT_SECRET=my-client-secret
ORCID_USE_SANDBOX=true

# Zotero API key
ZOTERO_API_KEY=my-zotero-api-key

# Puma settings
WEB_CONCURRENCY=2
RAILS_MAX_THREADS=5
RAILS_MIN_THREADS=5

# Rails environment
RAILS_ENV=development
RAILS_LOG_TO_STDOUT=true
RAILS_SERVE_STATIC_FILES=true

# Action Cable config
CABLE_ADAPTER=async
# following redis config is for Action Cable only if 'redis' is used as the adapter, otherwise it can be ignored
REDIS_URL=redis://redis:6379/0
REDIS_CHANNEL_PREFIX=ucnrs_rams_development