DATABASE_NAME=unnrs_rams_development
DATABASE_USERNAME=root
DATABASE_PASSWORD="password"
DATABASE_HOST=db
DATABASE_PORT=3306
SHAKAPACKER_DEV_SERVER_HOST=webpack
HOST=localhost
PROTOCOL=http
DEV_SMTP_HOST=localhost
DEV_SMTP_PORT=587
DEV_SMTP_USERNAME=emailuser
DEV_SMTP_PASSWORD=12345
DEV_SMTP_DOMAIN=localhost
