DATABASE_USERNAME=root
DATABASE_PASSWORD=""
DATABASE_HOST=localhost
DATABASE_PORT=3306
HOST=localhost
PROTOCOL=http
SMTP_HOST=maildelivery.server
SMTP_PORT=587
SMTP_USERNAME=emailuser
SMTP_PASSWORD=12345
SMTP_DOMAIN=ucnature.org
ORCID_CLIENT_ID=APP-SUPERTEST123456789
ORCID_CLIENT_SECRET=FAKE-CLIENT-SECRET-1234567890
ORCID_USE_SANDBOX=true
