DATABASE_USERNAME=root
DATABASE_PASSWORD=""
DATABASE_HOST=localhost
DATABASE_PORT=3306
HOST=localhost
PROTOCOL=http
SMTP_HOST=maildelivery.server
SMTP_PORT=587
SMTP_USERNAME=emailuser
SMTP_PASSWORD=12345
SMTP_DOMAIN=ucnature.org
ORCID_CLIENT_ID=APP-something
ORCID_CLIENT_SECRET=my-client-secret
ORCID_USE_SANDBOX=true
ZOTERO_API_KEY=your_zotero_api_key