<section class="content">
  <%= render partial: 'manager/reserve_info/header' %>
  <div>
    <section class="reserve-info-menu">
      <%= render partial: 'manager/reserve_info/menu' %>
    </section>
    <section class="reserve-info">
      <header><%= t(".staff_and_notifications") %></header>
      <section class="reserve-info-subsection">
        <%= render partial: "personnels", locals: { personnels: @presenter.personnel } %>
      </section>
    </section>
  </div>
</section>
