<%= link_to bar.path, class: bar.link_classes, method: :get do %>
  <div class="bar <%= bar.background_classes %>" >
    <span class="bars-text <%= bar.text_classes %>" >
      <%= bar.text %>
    </span>
  </div>
<% end %>
