<div>
  <h1><%= t(".title") %></h1>
  <hr />
  <%= turbo_frame_tag "details" do %>
    <% if @presenter.public_calendar_access %>
      <%= render partial: @presenter.calendar_partial_name %>
    <% else %>
      <%= t(".public_calendar_not_available") %>
    <% end %>
  <% end %>
</div>
