<turbo-frame id="project_select" data-pattern="<%= visits_projects_path(project_type: "VALUE", project_id: page.project_id) %>" data-turbo-content-target="destination">
  <select id="visit_project_id" name="visit[project_id]">
    <% page.projects.each do |project| %>
      <option value="<%= project.id %>" <%= page.selected_project(project) %> ><%= project.title %></option>
    <% end %>
  </select>
</turbo-frame>
