@import "variables";
@import "mixins/errors";
@import "mixins/controls";

@mixin form {
  @include errors;

  section {
    margin-bottom: 2.5rem;

    fieldset {
      margin-bottom: 1rem;
      margin-right: 2rem;
    }
  }

  .inline,
  .inline-fields {
    align-items: flex-start;
    display: flex;
    height: auto;

    div {
      padding-right: 1rem;
    }
  }

  .field {
    display: flex;
    flex-direction: column;

    label {
      color: $dark-bluegray;
      font-size: 0.75rem;
      font-weight: $semi-bold;
      margin-bottom: 0.125rem;
    }

    & > label {
      display: block;
    }

    p {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
    }

    &.checkbox {
      align-items: center;
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin-bottom: 0.5rem;

      &:last-of-type {
        margin: 0;
      }

      label {
        padding: 0 0.25rem;
      }
    }

    &.small {
      width: 20rem;
    }

    label + small,
    small.label-description {
      color: $dark-bluegray;
      font-size: 0.75rem;
      margin-top: 3px;
    }

    input:not([type=checkbox], [type=radio]),
    textarea,
    select {
      background-color: $white;
      border: 1px solid $bluegray;
      border-radius: $border-radius;
      box-sizing: border-box;
      font-family: $sora;
      font-size: 0.8125rem;
      min-height: 2rem;
      padding-left: 0.5rem;
    }

    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="text"],
    textarea {
      flex: 1;

      &:last-child-of-type {
        padding-right: 0;
        margin-right: 0;
      }
    }

    textarea {
      min-height: 3.675rem;
      padding: 0.5rem;
    }

    .explanation {
      display: block;
      flex: initial;
      font-size: 0.75rem;
      margin-left: 2rem;
      width: 240px;
    }

    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 0;
      margin-top: 0.5rem;
      max-height: 175px;
      list-style: none;
      padding-left: 0;
      padding-top: 0;

      li {
        align-items: center;
        display: flex;
        flex-direction: row;
        padding-bottom: 0.25rem;
        padding-right: 4.5rem;
        padding-top: 0.25rem;

        .other-discipline {
          display: none;

          input {
            margin-left: 0.5rem;
          }
        }

        #discipline-Other:checked + div {
          .other-discipline {
            display: block;
          }
        }

        label {
          color: $navy-blue;
          font-size: 0.8125rem;
          font-weight: $normal;
          line-height: 1.438rem;
          margin-left: 0.5rem;
        }

        input[type="radio"] {
          margin-top: 0.25rem;
        }
      }
    }

    .planning-question-label {
      color: $navy-blue;
      font-weight: $normal;
      font-size: 0.8125rem;
      margin-bottom: 0.5rem;
    }

    .additional-question {
      display: none;
    }

    &[data-value-projection-projected-value="Yes"] {
      .additional-question {
        display: flex;
        flex: 1;
        flex-direction: column;
      }
    }

    .yes-no-options {
      align-items: center;
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;

      label {
        color: $navy-blue;
        font-size: 0.8125rem;
        font-weight: $normal;
        margin-right: 20px;
        margin-top: 2px;
      }

      input {
        margin-left: 0;
        margin-right: 5px;
      }
    }

    .yes-no-row {
      display: flex;

      .yes-no-options {
        flex: 1;
        margin-right: 2rem;
      }
    }
  }

  .small-title {
    color: $dark-bluegray;
    font-size: 0.75rem;
    margin-bottom: 0;

    label {
      color: $navy-blue;
      font-size: 0.6875rem;
      font-weight: $normal;
      padding-left: 1rem;
    }
  }

  .form-end {
    display: flex;
    justify-content: end;
  }

  @include controls;
}

@mixin form2 {
  @include errors;

  .input-group {
    margin-bottom: 2rem;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .form-group,
  .with-form-group-pad {
    padding: 0 0.5rem;
  }

  .form-label {
    color: $dark-bluegray;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: $normal;
    margin-bottom: 0.15rem;
  }

  .form-textarea,
  .form-input {
    background-color: $white;
    border: 1px solid $darker-gray;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0.25rem 0.625rem;
    width: 100%;
  }

  textarea.form-textarea {
    min-height: 6rem;
    resize: vertical;
  }

  .form-input {
    display: block;
  }

  .form-input:disabled {
    background-color: $light-gray;
  }

  .row {
    display: flex;

    .col {
      flex: 1 0 0%;
    }

    .col-25,
    .col-33,
    .col-50,
    .col-66 {
      box-sizing: border-box;
      flex: 0 0 auto;
    }

    .col-25 {
      width: 25%;
    }

    .col-33 {
      width: 33.333333%;
    }

    .col-50 {
      width: 50%;
    }

    .col-66 {
      width: 66.66666%;
    }
  }
}
