@use "../variables" as *;

@mixin input_default {
  input,
  select,
  textarea {
    background-color: $buttonset-background;
    border: 1px solid $navy-blue;
    border-radius: $border-radius;
    box-sizing: border-box;
    color: $navy-blue;
    flex: none;
    font-size: 0.8125rem;
    padding: 0.25rem 0.75rem;
  }

  input[type="text"],
  input[type="date"],
  select {
    height: 2rem;
  }

  input:disabled {
    background-color: $light-gray;
  }

  select {
    font-weight: $normal;
    max-width: 100%;
  }
}

@mixin sort-style {
  input,
  select {
    background-color: $buttonset-background;
    border: 1px solid $buttonset-border;
    border-radius: 0.3125rem;
    box-sizing: border-box;
    color: $navy-blue;
    flex: none;
    font-size: 0.8125rem;
    height: 2rem;
    margin-right: 0.5rem;
    padding: 0.25rem 0.75rem;
  }

  select {
    font-weight: $bold;
  }
}
