@import "variables";

@mixin sort-style {
  input, select {
    background-color: $buttonset-background;
    border-radius: 0.3125rem;
    border: 1px solid $buttonset-border;
    box-sizing: border-box;
    color: $navy-blue;
    flex: none;
    font-size: 0.8125rem;
    height: 2rem;
    margin-right: 0.5rem;
    padding: 0.25rem 0.75rem;
  }

  select {
    font-weight: $bold;
  }
}
