@import "../variables";

@mixin pagination {
  nav.pagination {
    display: flex;
    font-size: 0.75rem;
    justify-content: flex-end;

    span {
      color: $navy-blue;
      font-weight: $bold;
      padding: 0.313rem;

      a, a:visited {
        color: $navy-blue;
      }
    }
  }
}
