@import "../variables";

@mixin summary {
  .sidebar {
    background-color: $light-gray;
    box-sizing: border-box;
    color: $navy-blue;
    font-size: 0.825rem;
    flex-shrink: 0;
    padding: 3.5rem 3.50rem 1.5rem 1.25rem;
    width: 360px;

    header {
      margin-bottom: 2.5rem;

      img {
        margin-bottom: .75rem;
      }

      p {
        margin: 0;
      }
    }

    .calendar-option > * {
      margin-right: 2rem;
    }

    a {
      color: $sky-blue;
    }

    h2.main-header {
      line-height: 1.75rem;
      margin-bottom: 0.5rem;
      margin-top: 0;
    }

    .information {
      line-height: 1.5rem;
      margin-bottom: 3rem;
    }

    .button {
      margin-bottom: 1rem;

      img {
        margin-left: 1rem;
        vertical-align: middle;
      }
    }

    .reserve-info a:last-of-type {
      margin-bottom: 3rem;
    }

    a.icon {
      display: block;
      margin-bottom: 1.5rem;
    }
  }

  .content {
    background-color: $white;
    box-sizing: border-box;
    color: $navy-blue;
    flex-grow: 1;
    font-size: 0.8125rem;
    padding: 3.5rem 1.25rem 1.5rem 3.50rem;

    a {
      color: $sky-blue;
    }

    section {
      margin-bottom: 3rem;
    }

    > header {
      margin-bottom: 2.5rem;

      .subheader {
        align-items: center;
        display: flex;

        span {
          margin-right: 1.5rem;
        }
      }
    }

    h1.main-header {
      font-size: 2.25rem;
      font-weight: $medium;
      margin-bottom: .5rem;
      margin-top: 0;
    }

    h2.main-header {
      display: inline-block;
      font-weight: $semi-bold;
      margin-right: 1rem;
    }

    h2.timeframe {
      font-size: 1rem;
      margin-bottom: .55rem;
    }

    h2.title {
      margin-bottom: .45rem;
    }

    h3 {
      font-weight: $semi-bold;
    }

    .information {
      align-items: center;
      display: flex;
      margin-bottom: 1.5rem;

      span {
        align-items: center;
        display: flex;
      }

      span:not(:last-child)::after {
        background: $light-bluegray;
        content: "";
        display: block;
        height: 18px;
        margin: 0 1.25rem;
        width: 1px;
      }
    }

    p.description {
      line-height: 1.5rem;
    }

    p.description:first-of-type {
      margin-top: 0;
    }
  }
}

@mixin project-summary {
  h3 {
    margin-top: 0;
  }

  .project-summary {
    margin-bottom: 3rem;

    .project-summary-table {
      border-collapse: collapse;
      margin-bottom: 2rem;

      td {
        padding-bottom: 0.3rem;
        padding-left: 0;
        padding-right: 2rem;
        padding-top: 0.3rem;
        vertical-align: top;

        p:nth-child(1) {
          margin-top: 0;
        }
      }

      td:nth-child(1) {
        font-weight: $semi-bold;
      }
    }

    .project-methods {
      ul {
        list-style: none;
        margin: 0;
        padding-left: 0;

        li {
          align-items: center;
          display: flex;
          margin: 0 0 14px 0;
        }

        li::before {
          background: no-repeat center/22px url(asset-path("icon-alert-circle-blue.svg"));
          content: "";
          flex-shrink: 0;
          height: 22px;
          margin-right: .5rem;
          width: 22px;
        }

        li:empty {
          display: none;
        }
      }

      ul:empty {
        display: none;
      }

      .project-methods-detail {
        margin-bottom: 1.25rem;

        span {
          display: block;
          font-weight: $semi-bold;
        }

        span:nth-child(1) {
          margin-bottom: .5rem;
        }

        p {
          margin: 0.5rem 0
        }
      }
    }
  }

  .project-permit {
    ul.summary-list {
      padding-inline-start: 25px;
    }
  }

  .project-funding {
    td.empty {
      text-align: center;
    }
  }

  .project-files {
    td.empty {
      text-align: center;
    }
  }
}
