@import "variables";

@mixin table-style1 {
  border-collapse: separate;
  border-spacing: 0 0.375rem;
  margin-bottom: 0.625rem;
  width: 100%;

  tbody tr {
    background-color: $light-light-blue;
    text-align: left;
    transition: all .25s ease-in-out;
  }

  th {
    color: $dark-bluegray;
    font-size: 0.688rem;
    font-weight: $medium;
    line-height: 0.875rem;
    padding-right: 0.5rem;
    text-align: left;

    &:first-of-type {
      padding-left: 1.25rem;
    }

    &:last-of-type {
      padding-right: 1.25rem;
      text-align: right;
    }
  }

  tbody {
    td, th {
      border-bottom: 1px solid $gray;
      border-top: 1px solid $gray;
      font-size: 0.75rem;
      font-weight: $normal;
      line-height: 1.25rem;
      padding-bottom: 0.625rem;
      padding-right: 0.5rem;
      padding-top: 0.625rem;

      &:first-of-type {
        border-bottom-left-radius: 0.313rem;
        border-left: 1px solid $gray;
        border-top-left-radius: 0.313rem;
        max-width: 150px;
        padding-left: 1.25rem;
        padding-right: 1rem;
      }

      &:last-of-type {
        border-bottom-right-radius: 0.313rem;
        border-right: 1px solid $gray;
        border-top-right-radius: 0.313rem;
        padding-right: 1.25rem;
        text-align: right;
      }

      &.title {
        font-weight: $bold;
      }
    }
  }

  tr.header {
    background-color: $extra-light-bluegray;

    td, th {
      color: $navy-blue;
      font-weight: $semi-bold;
      text-align: left;
    }
  }

  tr.disabled {
    color: $bluegray;
  }

  tbody {
    tr:not(.header):hover {
      background-color: $light-gold;
      transition: all .25s ease-in-out;

      td {
        border-bottom: 2px solid $gold;
        border-top: 2px solid $gold;
        padding-bottom: 0.5625rem;
        padding-top: 0.5625rem;

        &:first-of-type {
          border-left: 2px solid $gold;
          padding-left: 1.1875rem;
        }

        &:last-of-type {
          border-right: 2px solid $gold;
          padding-right: 1.1875rem;
        }
      }
    }

    .pill {
      transition: all 0.25s ease-in-out;

      &.approved {
        border-color: transparent;
        background-color: $green;
      }

      &.in_review {
        border-color: transparent;
        background-color: $yellow;
      }

      &.denied {
        border-color: transparent;
        background-color: $blue;
      }

      &.incomplete {
        border-color: transparent;
        background-color: $red-alert;
      }

      &.cancelled {
        border-color: transparent;
        background-color: $pink;
      }
    }
  }

  img {
    border-radius: 0.125rem;
    color: $white;
    height: 1rem;
    vertical-align: middle;
    width: 1rem;

    &[src*="check"] {
      height: 0.875rem;
      width: 0.875rem;
    }

    &[alt="checked icon"],
    &[alt="unchecked icon"] {
      height: 1.125rem;
      vertical-align: middle;
      width: 1.125rem;
    }
  }

  a:not(:last-of-type) {
    display: inline-block;
    margin-right: .5rem;

    &.text-icon {
      color: $navy-blue;
      font-size: 1.2rem;
      text-decoration: none;
      vertical-align: top;
    }
  }

  a img {
    vertical-align: middle;
  }

  .pill {
    display: flex;
  }

  .date-range {
    font-weight: $semi-bold;
  }
}

@mixin card-table {
  width: 100%;

  tr {
    td:first-child {
      padding-left: 1.25rem;
    }

    td {
      padding-bottom: .25rem;
      padding-top: .25rem;

      div.status-container {
        display: flex;

        div.status {
          background: $gold;
          border-radius: 3px;
          display: inline-block;
          margin-right: .25rem;
          width: 5px;
        }
      }
    }

    td:last-child {
      padding-right: 1.25rem;
    }

    td.card-name, td.card-date {
      width: 50%;
    }

    td.card-date {
      text-align: right;
    }
  }

  tr.todays-card-title > td {
    padding-bottom: .55rem;
    padding-top: .55rem;

    a {
      text-decoration: none;
    }
  }
}

@mixin rams-2-list-table {
  border-collapse: collapse;
  margin: 0 auto 50px auto;
  width: 100%;

  thead tr {
    background-color: $dark-bluegray;
    color: $white;
  }

  tbody tr, tfoot tr {
    border-top: .5px solid $dark-bluegray;
    height: 30px;
  }

  tr.subheader {
    background-color: $gray;
  }

  th {
    padding: 8px;
    text-align: left;
  }

  td {
    padding: 4px 4px 4px 8px;
  }
}
