<turbo-frame id="add-visitor">
  <div class="d-flex">
    <%= render partial: 'shared/visits/user_visits/links', locals: { presenter: presenter } %>
    <% if presenter.can_add_project_user? %>
      <%= link_to t(".new_team_member"),
        visit_project_team_memberships_path(presenter.visit_id),
        data: { turbo_frame: "_top"}
      %>
    <% end %>
  </div>
  <section id="add-team-member">
    <table class="user-visits-table">
      <tbody>
        <%= render partial: "shared/visits/user_visits/team_member", locals: { presenter: presenter, team_members: presenter.project_team_members } %>
      </tbody>
    </table>
  </section>
</turbo-frame>
