<turbo-frame id="user-visits-table">
  <table id="user-visits-table">
    <tbody>
      <% if presenter.user_visits.present? %>
        <%= render partial: "shared/visits/user_visits/user_visit", collection: presenter.user_visits %>
      <% else %>
        <tr class="empty">
          <td><%= t(".add_visitors") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</turbo-frame>
