<div class="select_or_new project-container">
  <div class="field">
    <%= form.label :project,
      t(".project_html", addition: "<span class=\"required\">*</span>".html_safe),
      for: "visit_project_id"
    %>
    <%= render partial: "visits/projects/projects_select", locals: { presenter: presenter.projects } %>
    <small><%= t(".project_description") %></small>
  </div>
  <%= link_to t(".links.create_a_new_project"), presenter.project_url, class: "project-create-link" %>
</div>
