<tr class="user_visit">
  <td><%= mail_to user_visit.user_email, user_visit.user_full_name %></td>
  <td><%= user_visit.institution_name %></td>
  <td><%= user_visit.requested_short_date_range(format: "date_range.short_date") %></td>
  <td><%= user_visit.role %></td>
</tr>
