<% content_for(:title) { t(".title") } %>

<header>
  <h1><%= t(".title") %></h1>
</header>

<%= form_with model: @page.form, url: visits_path do |form| %>
  <%= render partial: "form", locals: { page: @page, form: form } %>
<% end %>
