<div class="split-background-sidebar">
  <div class="visit container">
    <section class="sidebar">
      <%= render partial: @presenter.sidebar_partial_name, locals: { presenter: @presenter } %>
    </section>
    <section class="content">
      <%= render partial: @presenter.content_partial_name, locals: { presenter: @presenter } %>
    </section>
  </div>
</div>
