<%= render partial: 'visits/user_visits/links' %>
<section id="add-team-member">
  <table class="user-visits-table">
    <tbody>
      <tr class="user-visit">
        <td>User Full Name</td>
        <td>Company Name</td>
        <td>Project Role</td>
        <td><button><%= t(".add_to_visitor") %></button></td>
      </tr>
    </tbody>
  </table>
</section>
