<div class="card">
  <h2><%= waiver.name %></h2>
  <div class="description"><%= waiver.description %></div>
  <%= link_to waiver.link_text, waiver.url , class: waiver.link_class, target: :blank if waiver.url? %>
</div>
