<section class="<%= body_class %>">
  <p><%= t(".direction_title") %></p>
  <p><%= t(".direction_body") %></p>
  <section class="reserve-waivers">
    <%= render partial: "reserves/waivers/waiver", collection: waivers %>
  </section>
</section>
