<% content_for(:title) { t(".title") } %>
<%= render partial: "projects/steps", locals: { presenter: @presenter } %>

<section>
  <h1><%=t(".title")%></h1>
</section>

<section class="permits">
  <% @presenter.permits_by_authority.each do |authority, permits| %>
    <h2><%= authority %></h2>
  <% end %>
</section>
