<% content_for(:title) { t(".title") } %>
<%= render partial: "projects/steps", locals: { presenter: @presenter } %>

<section>
  <h1><%=t(".title")%></h1>
</section>

<section class="permits">
  <% if @presenter.has_permits_for_project? %>
    <% @presenter.permits_by_authority.each do |authority, permits| %>
      <div>
        <h2><%= authority %></h2>
      </div>
    <% end %>
  <% else %>
    <div>
      <p><%= t(".no_permits") %></p>
    </div>
  <% end %>
</section>
