<turbo-frame id="amenity-rates-table">
  <table class="amenity-rates-table">
    <thead>
      <tr>
        <th><%= t(".amenity_name") %></th>
      </tr>
    </thead>
    <tbody>
      <% amenity_rates.each do |amenity_name, amenity_rates| %>
        <tr>
          <td><%= amenity_name %></td>
          <% amenity_rates.each do |amenity_rate| %>
            <td><%= amenity_rate.amount %></td>
          <% end %>
          <td><%= link_to t("edit"), edit_manager_reserve_reserve_info_amenity_rate_path(current_reserve, amenity_rates.first.amenity_id), data: { "turbo-frame": "modal-content" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</turbo-frame>
