<tr class="funding">
  <td><%= funding.title %></td>
  <td><%= funding.sponsor %></td>
  <td><%= funding.award_amount %></td>
  <td><%= link_to t(".edit"), edit_funding_path(funding.id), data: { "turbo-frame": "modal-content" } %></td>
</tr>
