<div class="amenity">
  <input type="checkbox" value="<%= amenity.id %>" name="amenities[]" id="amenities-<%= amenity.id %>" class="amenity"/>
  <label for="amenity-<%= amenity.id %>"><%= amenity.title %></label>
</div>
