<turbo-stream action="update" target="password-change">
  <template>
    <div class="<%= body_class %>">
      <p><%= t(".reset_password_sent") %></p>
    </div>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="flash">
  <template>
    <%= render partial: "shared/flash" %>
  </template>
</turbo-stream>
