<% if page.reserve %>
  <div class="field">
    <label for="reserve-special-needs"><%= t(".labels.special_needs") %></label>
    <p class="special-needs-statement"><%= page.special_needs_statement %></p>
    <textarea name="visit[special_needs]" id="reserve-special-needs"><%= form_values.special_needs %></textarea>
  </div>

  <div class="alert_message"><%= page.alert_message %></div>
<% end %>
