<li><%= link_to(t(".#{id}"),
      path,
      { class: "nav-link #{classes}",
        id: id,
        data: { action: "click->tab-bar#changeTab", "tab-bar-target": "tab", "turbo-frame": "visit-details" }
      })%>
</li>
