<div class="project_select select_or_new project-container">
  <div class="field">
    <% presenter.project_type_options.each do |type| %>
      <div id="project-label-<%= type %>" class="label_container">
        <%= form.label :project, "#{t(".project_type_options.labels.#{type}")} Project", for: "visit_project_id" %>
      </div>
    <% end %>
    <%= render partial: "manager/visits/projects/projects_select", locals: { presenter: presenter.projects } %>
  </div>
  <%= link_to t(".links.create_a_new_project"), presenter.project_url, class: "project-create-link" %>
</div>
