<section class="content">
  <section class="visit-summary-box">
    <%= render partial: "manager/visits/summary_box", locals: { presenter: @presenter } %>
  </section>
  <section>
    <%= render partial: "manager/visits/menu", locals: { presenter: @presenter } %>
  </section>

  <%= turbo_frame_tag "visit-details", src: @presenter.tab_content_path %>
</section>
