<section class="container">
  <section class="content" data-controller="tab-bar">
    <%= render partial: "manager/visits/summary_box", locals: { presenter: @presenter } %>
      <%= render "manager/visits/menu", presenter: @presenter %>
      <%= turbo_frame_tag "visit-details", src: @presenter.tab_content_path %>
  </section>
</section>
