<tr>
  <td class="card-name">
    <div class="status-container">
      <%= tag.div class: "status #{amenity_visit.status.downcase}" %>
      <div><%= amenity_visit.amenity_title %></div>
    </div>
  </td>
  <td class="card-date">
    <% if amenity_visit.arrives.to_date == Time.zone.today %>
      <%= tag.span "from #{amenity_visit.arrives.to_s(:time)}", class: "text-nowrap" %>
    <% end %>
    <% if amenity_visit.departs.to_date == Time.zone.today %>
      <%= tag.span "until #{amenity_visit.departs.to_s(:time)}", class: "text-nowrap" %>
    <% end %>
  </td>
</tr>
