<%= turbo_frame_tag "dashboard-content" do %>
  <section class="content">
    <section>
      <h3><%= t(".todays_visit_and_resources") %></h3>
    </section>
    <section>
      <h3><%= t(".last_24_hours") %></h3>
      <div>
      </div>
    </section>
    <section>
      <h3><%= t(".last_7_days") %></h3>
      <div>
      </div>
    </section>
  </section>
<% end %>
