<li style="margin-bottom:8px;">
  <div class="question">
    <span class="question_text"><%= question.question %></span>
  </div>
  <div class="answers"><strong><%= question.answer %></strong></div>
</li>
