<section class="content">
  <%= render partial: "shared/manager/dashboard/header", locals: { selected_tab: 0 } %>
  <hr />
  <%= turbo_frame_tag "dashboard-content" do %>
    <%= render partial: "dashboard", locals: { presenter: @presenter } %>
  <% end %>
</section>
