<li
    class="list-group-item"
    role="option"
    data-autocomplete-value="<%= autocomplete_result.id %>"
    data-autocomplete-label="<%= autocomplete_result.full_name %>"
>
  <%= autocomplete_result.autocomplete_description %>
</li>
