<section class="content">
  <%= render partial: @presenter.partial_name, locals: { presenter: @presenter } %>

  <%= turbo_frame_tag "invoice" do %>
    <section class="invoices">
      <%= render partial: "invoices", locals: { presenter: @presenter } %>
    </section>
  <% end %>
</section>

<turbo-frame id="ucnrs_latest_news" src="/home/latest_news"></turbo-frame>

<% if @display_welcome_modal %>
  <% content_for :modal do %>
    <%= render partial: "modals/welcome" %>
  <% end %>
<% end %>
