@import "variables";
@import "mixins/tables";
@import "mixins/search";
@import "mixins/pagination";
@import "mixins/form";
@import "mixins/flex";

.manager.institutions-index {
  @include search-subsection;
  @include pagination;
}

.manager.institutions-edit {
  section.content {
    header {
      @include flex(row, space-between, center);

      h1 {
        font-size: 2.5rem;
        font-weight: $light;
        margin: 0 0 .5rem 0;
      }

      small {
        font-size: .85rem;
        font-weight: $light;
      }

      .header-links a{
        font-size: .75rem;
        font-weight: $semi-bold;
        margin-right: 1rem;
      }
    }

    hr {
      border-bottom: 2px solid $black;
      margin-bottom: 2rem;
    }
  }

  form {
    @include form2;

    section.buttons {
      @include flex(row, flex-end, center);

      > *:not(:last-child) {
        margin-right: 3rem;
      }

      a {
        font-size: 0.875rem;
      }
    }
  }
}

table.institutions-table {
  @include table-style1;

  tbody > tr:not(.header):hover {
    img.right-arrow {
      background-color: white;
      border-radius: 1rem;
      filter: invert(1);
    }
  }
}
