@import "variables";
@import "mixins/tables";
@import "mixins/search";
@import "mixins/pagination";
@import "mixins/form";
@import "mixins/flex";

.manager.institutions-index {
  section.content {
    display: block;

    header.header-with-links {
      display: flex;
      gap: 2rem;
      margin: .75rem 0 0 0;

      h1 {
        display: flex;
        font-size: 1.5rem;
        font-weight: $medium;
        margin: 0;
      }

      a {
        border-bottom: 0 solid $gray;
        color: $navy-blue;
        text-decoration: none;
        transition: all .15s ease-in-out;
      }

      a:hover {
        border-bottom: 3px solid $gray;
      }

      a.active {
        border-bottom: 3px solid $gray;
      }
    }

    hr {
      border-bottom: 2px solid $gray;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      margin: 0;
    }

    @include search-subsection;
    @include pagination;
  }

  table.table-style1 {
    @include table-style1;

    td > img {
      vertical-align: middle;
    }
  }
}

.manager.institutions-edit {
  section.content {
    header {
      @include flex(row, space-between, center);

      h1 {
        font-size: 2.5rem;
        font-weight: $light;
        margin: 0 0 .5rem 0;
      }

      small {
        font-size: .85rem;
        font-weight: $light;
      }

      .header-links a{
        font-size: .75rem;
        font-weight: $semi-bold;
        margin-right: 1rem;
      }
    }

    hr {
      border-bottom: 2px solid $black;
      margin-bottom: 2rem;
    }
  }

  form {
    @include form2;

    section.buttons {
      @include flex(row, flex-end, center);

      > *:not(:last-child) {
        margin-right: 3rem;
      }

      a {
        font-size: 0.875rem;
      }
    }
  }
}
