@import "variables";
@import "mixins/summary";
@import "mixins/date_fields";
@import "mixins/form";
@import "mixins/controls";
@import "mixins/flex";
@import "mixins/tables";
@import "mixins/search";
@import "mixins/pagination";

.manager.invoices-new,
.manager.invoices-create,
.manager.invoices-edit,
.manager.invoices-update {
  .manager-navbar {
    .container {
      margin-bottom: 0px;
    }
  }

  .container {
    display: block;
    margin: 0;
    padding: 0 $form-page-gutter;

    table.invoices-table {
      @include table-style1;

      margin-top: 5rem;
    }

    .button-black {
      background-color: $black;
      color: $white !important;
      padding: 10px 35px;
    }

    .search-subsection{
      form {
        .search-primary{
          flex-wrap: wrap;

          .second{
            margin-top: 10px;
          }
        }
      }

      .search-secondary {
        .row {
          flex-wrap: wrap;
        }
      }
    }

    .clear-btn {
      color: $navy-blue;
      margin-right: 30px;
      text-decoration: none;
    }

    .search-btn {
      background-color: $navy-blue;
      border: none;
      border-radius: 2.25rem;
      color: $white;
      cursor: pointer;
      padding: 10px 35px;
      font-size: 1rem;
      font-weight: $semi-bold;
    }

    .balance {
      font-size: $small-heading-size;
    }

    .negative_balance {
      color: $gold;
    }

    .positive_balance {
      color: $red;
    }

    .default_balance {
      color: $normal;
    }

    .balance-title {
      font-size: $base-font-size;
      text-align: right;
    }

    .controls {
      padding-right: 100px;
    }

    header {
      padding-top: 40px;

      h1 {
        font-size: 2.25rem;
      }
    }

    .payment-btn {
      border: 1px solid $black;
      border-radius: 50px;
      color: $black;
      font-size: .8125rem;
      font-weight: $normal;
      margin-left: 1.25rem;
      margin-right: 0;
      padding: 0.5rem 1.25rem;
      text-decoration: none;
    }

    .d-flex {
      @include flex(row, space-between, center, wrap);
    }

    .d-flex-column {
      @include flex(column);
    }

    .d-flex-right {
      @include flex(row, end, center);

      .total {
        flex: 2.5;
        text-align: right;
      }

      .margin-right {
        margin-right: 20px;
      }
    }

    .table-row {
      background-color: $white;
      border: 1px solid;
      border-radius: 10px;
      flex-wrap: wrap;
      margin-bottom: 10px;
      padding: 15px;
    }

    .table-row:hover {
      background-color: lighten($bluegray, 35%);
    }

    .left-spacer {
      padding-left: 10px;
    }

    .visit-info {
      h1 {
        margin-top: 0px;
      }

      td {
        font-size: 0.8rem;
        padding: 0.4rem 0;
      }

      td:first-child {
        padding-right: 2rem;
      }

      td:last-child {
        font-weight: $bold;
      }
    }

    .invoice-notes {
      h2 {
        margin-bottom: 30px;

        span {
          color: $navy-blue-20;
          font-size: $base-font-size;
          margin-left: 30px;
        }
      }
      .note-form {
        label {
          color: $dark-bluegray;
          display: inline;
          font-size: 0.625rem;
          font-weight: $bold;
        }

        .note {
          border-radius: 5px;
          padding: 10px;
        }
      }
    }

    .text-center {
      text-align: center;
    }

    .right-spacer {
      margin-right: 5px;
    }

    .text-field-div {
      background-color: $white;
      border: 1px solid $semidark-bluegray;
      border-radius: 10px;
      color: $semidark-bluegray;
      margin: 10px 0px;
      padding: 10px;

      input:focus {
        outline: none;
      }

      label {
        font-size: 13px;

        .error_messages {
          color: $red;
        }
      }

      .days {
        width: 110px;
      }

      .input-field {
        border: none;
        max-width: 30px;
        min-width: 5px;
        padding: 5px;
        text-align: end;
      }

      input[type="date"] {
        width: 140px;
      }

      .select-field {
        background-color: $white;
        border: none;
        padding: 5px;
        text-align: center;
      }

      .select-field:focus {
        outline: none;
      }
    }
  }
}

.invoices {
  .visit-info {
    h1 {
      margin-top: 0px;
    }

    td {
      font-size: 0.8rem;
      padding: 0.4rem 0;
    }

    td:first-child {
      padding-right: 2rem;
    }

    td:last-child {
      font-weight: $bold;
    }
  }

  .modal form {
    font-size: 14px;

    h2 {
      font-weight: $semi-bold;
      margin-top: 0;
    }

    input,
    textarea,
    select {
      font-size: 0.875rem;
    }

    small {
      color: $dark-bluegray;
      display: block;
      font-size: 0.8125rem;
      font-weight: $light;
      margin-top: 4px;
    }

    textarea + small {
      margin-top: 0px;
    }

    hr {
      border-bottom: 1px;
      border-color: $gray;
      border-style: solid;
      border-top: 0;
      margin: 1rem 0;
    }

    table.team-members {
      @include table-style2;
    }
  }
}

.manager.invoices-index {
  @include search-subsection;
  @include pagination;
}

.manager.invoices-show {
  section.content{
    font-size: 1rem;

    & > header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      & > h1 {
        font-size: 2rem;
        margin: 0;
      }

      .action-buttons {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;

        img {
          display: block;
        }
      }
    }

    .bill-to {
      table {
        .balance {
          font-size: $small-heading-size;
        }

        .negative_balance {
          color: $gold;
        }

        .positive_balance {
          color: $red;
        }

        .default_balance {
          color: $normal;
        }
      }
    }
  }
}

.manager.invoices-edit {
  main{
    .container{
      header {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
