@import "variables";
@import "mixins/summary";
@import "mixins/date_fields";
@import "mixins/form";
@import "mixins/flex";
@import "mixins/tables";
@import "mixins/search";
@import "mixins/pagination";

.manager.invoices-new,
.manager.invoices-create,
.manager.invoices-edit,
.manager.invoices-update {
  font-size: 0.8125rem;

  .content {
    padding-left: 4rem;
    padding-right: 4rem;

    > header {
      align-items: center;
      display: flex;
      justify-content: space-between;

      h1 {
        font-size: 1.5rem;
      }
    }

    .subsection {
      margin-bottom: 3rem;
    }

    .invoice-visit-info {
      td {
        padding: 0.25rem 0;
      }

      td:first-child {
        padding-right: 2rem;
      }

      td:last-child {
        font-weight: $bold;
      }
    }

    .invoice-bill-to {
      table {
        border-collapse: separate;
        border-spacing: 0 .5rem;
        width: 100%;

        tr {
          border: 1px solid;
        }

        td {
          border-bottom: 1px solid;
          border-top: 1px solid;
          padding-bottom: .75rem;
          padding-left: .75rem;
          padding-top: .75rem;
        }

        td:first-of-type {
          border-bottom-left-radius: $border-radius;
          border-left: 1px solid;
          border-top-left-radius: $border-radius;
        }

        td:last-of-type {
          border-bottom-right-radius: $border-radius;
          border-right: 1px solid;
          border-top-right-radius: $border-radius;
        }
      }
    }

    .invoice-amenity-visits,
    .invoice-payments {
      table{
        @include summary-table-style;

        tfoot {
          tr {
            td {
              border-top: 2px solid $gray;
            }

            td.balance {
              text-align: right;
            }
          }
        }
      }
    }

    .invoice-amenity-visits {
      table {
        tr .amenity-visit-unit {
          width: 70px;
        }

        tr .amenity-visit-subtotal {
          text-align: right;
        }

        tfoot tr .amenity-visit-subtotal {
          color: $red;
        }
      }
    }

    .invoice-payments {
      table{
        tr .payment-date {
          width: 100px;
        }

        tr .payment-amount {
          text-align: right;
          width: 100px;
        }

        tr .payment-action {
          width: 80px;
        }

        tbody tr .payment-amount {
          font-weight: 500;
        }
      }

      .payment-total {
        .negative_balance {
          color: $gold;
        }

        .positive_balance {
          color: $red;
        }

        .default_balance {
          color: $normal;
        }

        .balance-title {
          font-weight: $semi-bold;
          text-align: left;
        }
      }
    }

    .invoice-notes {
      .note-form {
        .note {
          max-width: 100%;
          min-width: 100%;
          padding: 10px;
        }
      }
    }
  }

  .controls {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 1rem;
    padding: 1.5rem 1.5rem;

    a.clear {
      align-items: center;
      border-radius: 1.5625rem;
      border: 1px solid $dark-sky-blue;
      color: $dark-sky-blue;
      display: flex;
      flex-direction: row;
      font-size: 0.875rem;
      font-weight: $bold;
      line-height: 1.125rem;
      padding: 0.5rem 1.5rem;
      text-decoration: none;

      img {
        height: 1.5rem;
        padding-right: 0.5rem;
        width: 1.5rem;
      }
    }
  }
}

.invoices {
  .modal form {
    font-size: 14px;

    h2 {
      font-weight: $semi-bold;
      margin-top: 0;
    }

    input,
    textarea,
    select {
      font-size: 0.875rem;
    }

    small {
      color: $dark-bluegray;
      display: block;
      font-size: 0.8125rem;
      font-weight: $light;
      margin-top: 4px;
    }

    textarea + small {
      margin-top: 0px;
    }

    hr {
      border-bottom: 1px;
      border-color: $gray;
      border-style: solid;
      border-top: 0;
      margin: 1rem 0;
    }

    table.team-members {
      @include table-style2;
    }
  }
}

.manager.invoices-index {
  @include search-subsection;
  @include pagination;

  .search-subsection {
    font-size: 0.875rem;
  }

  table.invoices-table {
    @include table-style1;

    thead {
      .invoice-number {
        width: 80px;
      }

      .invoice-date {
        width: 90px;
      }

      .invoice-user {
        width: 110px;
      }

      .invoice-balance {
        min-width: 85px;
        text-align: right;
      }

      .invoice-status {
        width: 85px;
      }

      .invoice-actions {
        width: 20px;
      }
    }

    tbody {
      td.invoice-balance {
        text-align: right;
      }
    }

    tbody > tr:not(.header):hover {
      img.right-arrow {
        background-color: white;
        border-radius: 1rem;
        filter: invert(1);
      }
    }
  }
}

.manager.invoices-show {
  .content{
    font-size: 0.8125rem;
    padding-left: 4rem;
    padding-right: 4rem;

    > header {
      align-items: center;
      display: flex;
      justify-content: space-between;

      h1 {
        font-size: 1.5rem;
      }

      .action-buttons {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;

        img {
          display: block;
        }
      }
    }

    .subsection {
      margin-bottom: 3rem;
    }

    .invoice-visit-info {
      td {
        padding: 0.25rem 0;
      }

      td:first-child {
        padding-right: 2rem;
      }

      td:last-child {
        font-weight: $bold;
      }
    }

    .invoice-bill-to {
      table {
        @include summary-table-style;
      }
    }

    .invoice-amenity-visits,
    .invoice-payments {
      table{
        @include summary-table-style;

        tfoot {
          tr {
            td {
              border-top: 2px solid $gray;
            }

            td.balance {
              text-align: right;
            }
          }
        }
      }
    }

    .invoice-amenity-visits {
      table {
        tr .amenity-visit-unit,
        tr .amenity-visit-count {
          width: 70px;
        }

        tr .amenity-visit-subtotal {
          text-align: right;
        }

        tfoot tr .amenity-visit-subtotal {
          color: $red;
        }
      }
    }

    .invoice-payments {
      table{
        tr .payment-date {
          width: 100px;
        }

        tr .payment-amount {
          text-align: right;
          width: 100px;
        }

        tr .payment-action {
          width: 80px;
        }

        tbody tr .payment-amount {
          font-weight: $normal;
        }
      }

      .payment-total {
        .negative_balance {
          color: $gold;
        }

        .positive_balance {
          color: $red;
        }

        .default_balance {
          color: $normal;
        }

        .balance-title {
          font-weight: $semi-bold;
          text-align: left;
        }
      }
    }

    .invoice-notes {
      margin-bottom: 6rem;

      pre {
        white-space: pre-line;
      }
    }
  }
}



.invoice-payments-balance {
  color: green;
}
