@import "variables";

.manager {
  .manager-navbar.lower {
    ul.navbar-nav {
      li:last-child {
        a {
          margin-right: 0;
        }
      }
    }
  }

  .dropdown-toggle::after {
    border-bottom: 0;
    border-left: .3em solid transparent;
    border-right: .3em solid transparent;
    border-top: .3em solid;
    content: "";
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
  }
}

.manager-navbar.upper {
  border-bottom: 1px solid #ccc;
  color: $navy-blue;
  font-weight: $normal;

  .container {
    display: flex;
    justify-content: flex-end;
  }

  ul.navbar-nav {
    align-self: flex-end;
    display: flex;
    font-size: .75rem;
    list-style: none;
    margin: 0;
    padding: .3rem 1rem;

    li {
      display: flex;

      a {
        color: $navy-blue;
        text-decoration: none;

        &.active {
          border-bottom: 6px solid $sky-blue;
          color: $navy-blue;
        }
      }
    }

    li:not(:last-child)::after {
      background-color: #ccc;
      content: "";
      display: block;
      height: 1.25rem;
      margin: 0 1rem;
      width: 1px;
    }
  }
}
