@import "variables";
@import "mixins/date_fields";
@import "mixins/form";
@import "mixins/summary";
@import "mixins/tables";
@import "mixins/search";
@import "mixins/pagination";
@import "mixins/layouts";

.manager.projects-edit,
.manager.projects-update,
.manager.projects-new,
.manager.projects-create {
  main > .container {
    max-width: unset;
  }

  .form-container {
    @include projects-visits-form-container;
  }

  .projects-form {
    @include projects-visits-form-layout;
  }
}

.manager.projects-show {
  .container {
    @include summary;

    .content {
      padding: 3.5rem 3.5rem 0rem 3.5rem;

      .project-summary-box {
        background-color: $light-gray;
        border: 1px solid $dark-bluegray;
        margin-bottom: 3rem;
        padding: 1.25rem;

        .info-block {
          display: flex;
          margin-bottom: 12px;
          p {
            margin: 0.5rem 0px;
          }

          .title {
            font-weight: $semi-bold;
          }

          .w-200 {
            width: 200px;
          }
        }
        .info-block:last-child {
          margin: 0rem;
        }
      }

      ul.project-menu-bar {
        border-bottom: 1px solid $dark-bluegray;
        display: flex;
        list-style: none;
        margin: 0px;
        padding: 0px;

        li {
          display: flex;
          margin-right: 2.5rem;

          a.nav-link {
            color: $dark-bluegray;
            display: inline-block;
            font-weight: $semi-bold;
            padding-bottom: 0.25rem;
            text-decoration: none;

            &.active {
              border-bottom: 6px solid $sky-blue;
              color: $navy-blue;
              font-weight: $semi-bold;
            }
          }
        }
      }

      .project-form {
        margin-bottom: 0rem;
        padding: 0rem;
      }

      .team_memberships-index {
        margin-bottom: 0rem;

        section {
          padding: 0rem 3rem;
        }
        section:last-child {
          margin-bottom: 0rem;
          padding: 1.5rem;
        }
      }

      .controls {
        margin-bottom: 0rem;
        padding: 1.5rem;
      }

      .fundings-index {
        margin-bottom: 0rem;
        section {
          padding: 3rem;
        }
        section:last-child {
          margin-bottom: 0rem;
          padding: 1.5rem;
        }
      }
    }

    .content.full {
      display: block;
    }
  }
}

.manager.projects-index {
  section.content {
    display: block;

    header {
      margin: 0.5rem 0;

      h1 {
        font-size: 1.85rem;
        font-weight: $medium;
        margin: 0.5rem 0;
      }
    }

    hr {
      border-bottom: 2px solid $gray;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      margin: 0;
    }

    table.projects-table {
      @include table-style1;

      td > img {
        vertical-align: middle;
      }
    }

    @include search-subsection;
    @include pagination;
  }
}

.modal-content.project {
  color: $navy-blue;
  display: flex;
  flex-direction: column;

  .close {
    display: flex;
    justify-content: flex-end;

    img {
      background-color: rgba($gray, 0.36);
      border-radius: 50%;
      padding: 0.5rem;
    }
  }

  h1 {
    color: $navy-blue;
    font-size: 2.25rem;
    line-height: 2.688rem;
    margin-left: 3rem;
    text-align: left;
  }

  div {
    width: 100%;

    p {
      font-size: 0.813rem;
      line-height: 1.438rem;
      margin-bottom: 1.438rem;
      text-align: left;
    }
  }
}
