@import "variables";
@import "mixins/tables";

.manager.reports {
  .content {
    margin-top: 3rem;
  }

  .content > header {
    font-size: 2.5rem;
    font-weight: $light;
    margin-bottom: 1.5rem;
  }

  .content > div {
    display: flex;
  }

  .report-menu {
    margin-right: 2.75rem;

    .list-group {
      align-items: stretch;
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: 0;
      max-width: 225px;
      min-width: 200px;
      padding: 0;

      a {
        background-color: $light-gray;
        border-bottom: 1px solid $gray;
        color: $black;
        display: block;
        font-size: .8125rem;
        font-weight: $medium;
        padding: .5rem 1rem;
        text-decoration: none;
      }

      a.active {
        background-color: unset;
        border-bottom: 1px solid $black;
        border-right: 8px solid $black;
        border-top: 1px solid $black;
        margin-top: -1px;
      }
    }
  }

  .report {
    margin-top: .125rem;
    width: 100%;

    > header {
      font-size: 1.5rem;
      font-style: italic;
      font-weight: $light;
      margin-bottom: 2rem;
    }

    .fiscal-year-select {
      align-items: center;
      display: flex;
      gap: .5rem;
      margin-bottom: 1rem;
    }

    #review {
      align-items: center;
      background-color: $light-gray;
      border: 1px solid $gray;
      border-radius: 3px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      padding: .75rem;
    }

    button {
      background-color: $white;
      border: 1px solid $gray;
      border-radius: 3px;
      font-size: 0.8125rem;
      font-weight: 500;
      margin: 0;
      padding: .625rem;
    }
  }
}

table.annual-report {
  border-collapse: collapse;
  border-width: 1px;
  font-size: 10px;
  margin-bottom: 3rem;
  table-layout: fixed;
  width: 100%;

  col.first-col {
    width: 100px;
  }

  col.subtotal-col {
    background: $light-gray;
  }

  th {
    background: $light-gray;
    border: 1px solid $gray;
    font-weight: $medium;
    padding: 8px 0px;
    text-align: center;
  }

  tr {
    height: 30px;

    &.row-subtotal, &.row-total {
      background: $gold;
      padding: 0 0.5em;
      text-align: center;
    }

    &.row-total {
      font-weight: $medium;
    }

    &.group-header th{
      padding: 0 0.5em;
      text-align: left;
    }
  }

  td {
    border-color: $gray;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
    text-align: center;

    &.col-1 {
      font-weight: $medium;
      text-align: left;
    }
  }

  .spacer td {
    border:none;
  }
}

table.report-part-2-table {
  @include rams-2-list-table;
}

div.report-part-3-data {
  h3 {
    background-color: $dark-bluegray;
    color: $white;
    margin: 0;
    padding: 8px;
  }

  hr {
    border-bottom: 1px solid $gray;
    border-left: none;
    border-right: none;
    border-top: none;
  }

  .part-3-subheader {
    background-color: $gray;
    padding: 8px;
  }

  .part-3-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    > *:first-child {
      padding: 8px;
    }

    > *:not(:first-child) {
      padding: 4px 16px;
    }
  }
}

table.report-part-4-table {
  @include rams-2-list-table;

  colgroup {
    col:first-child {
      width: 200px;
    }
  }
}
