@use "variables" as *;
@use "mixins/layouts" as *;
@use "mixins/form" as *;
@use "mixins/tables" as *;
@use "mixins/controls" as *;

.manager.team_memberships-index,
.manager.team_memberships-edit,
.manager.team_memberships-create {

  color: $navy-blue;
  @include controls;

  main > .container {
    max-width: unset;
  }

  .form-container {
    @include projects-visits-form-container;
  }

  .add-user-form {
    @include projects-visits-form-layout;

    form {
      #project-role-select {
        width: 200px;
      }

      .submit-row {
        @include inline-between;
      }
    }

    .add-user-form-header {
      @include inline-between;
    }

    .team-member-table {
      @include table-style1;
    }
  }

  #project-details {
    .team_memberships-index {
      padding: 0px;
    }
  }
}
