@import "variables";
@import "mixins/pagination";
@import "mixins/search";

.manager.uninvoiced-index {
  @include search-subsection;
  @include pagination;
}

table.uninvoiced-visit {
  .uninvoiced-date {
    width: 175px;
  }

  .uninvoiced-user {
    min-width: 110px;
  }

  tbody > tr:not(.header):hover {
    img.right-arrow {
      background-color: white;
      border-radius: 1rem;
      filter: invert(1);
    }
  }
}
