@import "variables";
@import "mixins/layouts";
@import "mixins/controls";
@import "mixins/tables";


.manager.user_visits-index {
  @include controls;

  main > .container {
    max-width: unset;
  }

  .form-container {
    @include projects-visits-form-container;
  }

  .user-visits-form {
    @include projects-visits-form-layout;

    .add-visitor {
      .add-visitor-types {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }

      .add-visitor-input form {
        @include form;
      }

      table {
        @include table-style1;

        tbody tr {
          background-color: $table-row-even-background-neutral;
        }

        .visitor {
          background-color: $light-gray;
        }

        .button_to {
          .add-visitor-btn {
            background-color: $white;
            width: 180px;
          }
        }

        td:last-child {
          text-align: right;
        }

        a {
          border: 1px solid $dark-bluegray;
          border-radius: 1.5rem;
          color: $dark-bluegray;
          padding: 0.2rem 1.5rem;
          text-decoration: none;
        }
      }

      .toolbar-button {
        display: flex;
        font-size: 0.75rem;

        a {
          background: $buttonset-background;
          border: 1px solid $dark-bluegray;
          color: $dark-bluegray;
          font-weight: $bold;
          margin: 0;
          margin-left: -1px;
          padding: 0.6rem;
          text-decoration: none;

          &.selected {
            background: $dark-bluegray;
            color: $buttonset-foreground-selected;
          }
        }

        a:first-child {
          border-radius: 1rem 0 0 1rem;
          margin-left: 0;
          padding-left: 1rem;
        }

        a:last-child {
          border-radius: 0 1rem 1rem 0;
          padding-right: 1rem;
        }
      }

      section {
        margin: 0;
        padding: 2rem 0 0 0;
      }

      .flex-row {
        align-items: center;
        display: flex;

        .field {
          input[type="text"],
          input[type="number"],
          select {
            border: 1px solid $dark-bluegray;
            border-radius: 0.3125rem;
            box-sizing: border-box;
            width: 100%;
          }

          margin-right: 1rem;
          width: 100%;
        }

        button {
          border: 1px solid $dark-bluegray;
          border-radius: 1.5rem;
          padding: 0.2rem 1.5rem;
          width: 8rem;

          &:hover {
            cursor: pointer;
          }
        }

        .visitor-name {
          flex: 4;
        }

        .role {
          flex: 2;
        }

        .add-visitor {
          flex: 1;
        }

        .number-in-group {
          flex: 1;
        }

        .institution-id {
          flex: 4;
        }
      }

      span {
        font-size: 0.75rem;
        font-weight: $normal;
        line-height: 1.25rem;
      }

      input[type="submit"] {
        background-color: transparent;
        border: 1px solid $dark-bluegray;
        border-radius: 1.5rem;
        color: $sky-blue;
        font-size: 0.75rem;
        padding: 0.2rem 1.5rem;

        &:hover {
          cursor: pointer;
        }
      }
    }

    table.visit-info {
      margin-bottom: 1rem;

      td {
        font-size: 0.8125rem;
        padding: 0.375rem 0;
      }

      td:first-child {
        padding-right: 2rem;
      }

      td:last-child {
        font-weight: $bold;
      }
    }

    section#visitors-summary {
      .no-warning {
        display: none;
      }

      .user-visits-warning {
        background-color: $gold;
        border-radius: 0.3125rem;
        font-size: 0.8125rem;
        margin-bottom: -50px;
        padding: 1.4rem 1.5rem 1.5rem 50px;
        position: relative;
        top: -60px;

        > p:first-of-type {
          margin-top: 0;
        }

        > p:last-of-type {
          margin-bottom: 0;
        }

        p {
          line-height: 1.5rem;
          margin-bottom: 1.2rem;
        }
      }

      .user-visits-warning::before {
        background: no-repeat center/18px url(asset-path("icon-alert-circle.svg"));
        content: "";
        display: block;
        height: 1.125rem;
        left: 1.25rem;
        position: absolute;
        top: 1.55rem;
        width: 1.125rem;
      }
    }

    table#user-visits-table {
      @include table-style1;

      a {
        color: $dark-bluegray;
      }
    }
  }

  .modal .date-range-select {
    align-items: center;
    display: flex;
    flex-direction: row;

    > * {
      flex-grow: 1;
    }

    .date-time-select {
      select {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }

      input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }

    .separator {
      border: 1px solid $black;
      font-size: 0;
      height: 0;
      margin: 0.5rem;
      width: 0.625rem;
    }

    > .separator {
      flex-grow: unset;
    }
  }

  .field-inline {
    display: flex;
    font-size: 0.8125rem;
    margin-bottom: 0.75rem;

    > *:not(:first-child) {
      margin-left: 1rem;
    }
  }
}
