@use "variables" as *;
@use "mixins/tables" as *;
@use "mixins/search" as *;
@use "mixins/pagination" as *;
@use "mixins/errors" as *;
@use "mixins/flex" as *;

.manager.users-index {
  @include search-subsection;
  @include pagination;

  .search-subsection {
    font-size: 0.875rem;
  }
}

.manager.users-edit {
  section.content {
    > header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;

      h1 {
        font-size: 2.5rem;
        font-weight: $light;
        margin: 0;
      }

      small {
        font-size: .85rem;
        font-weight: $light;
      }

      .header-links a {
        font-size: .75rem;
        font-weight: $semi-bold;
        margin-right: 1rem;
      }
    }

    ul.navbar-nav {
      border-bottom: 2px solid $black;
      gap: 2rem;
      margin-bottom: 2.5rem;

      a {
        color: $navy-blue;
        text-decoration: none;
      }

      a.active {
        border-bottom: 6px solid $black;
      }
    }
  }

  form {
    @include errors;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;

    .inner-spacer {
      padding: 20px;
    }

    .right-spacer {
      padding-right: 40px;
    }

    .section-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      &.blue-bg {
        background-color: $light-light-blue;
      }

      section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        width: 100%;

        &.basics {
          max-height: 420px;

          .field {
            &.email {
              margin-top: 3.625rem;
            }
          }
        }
        &.role {
          min-height: 400px;

          input[type="text"]:first-of-type {
            margin-bottom: 0;
          }
          p {
            width: 100%;
          }
          .orcid {
            max-width: 170px;
          }
        }
        &.emergency-contact {
          h2 {
            margin-bottom: 0;
          }
          p {
            margin-bottom: 1rem;
          }
        }
        &.address {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;

          section:nth-of-type(2) {
            height: 100%;

            .billing-title {
              display: flex;

              .field {
                align-items: center;
                display: flex;
                flex-direction: row;
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding-left: 1rem;
              }
            }
            .billing-contact {
              .field {
                margin-bottom: 0;
              }
            }
          }
        }
        &.terms {
          .field {
            align-items: center;
            display: flex;
            flex-direction: row;
          }
        }
        &.actions {
          height: 100px;
          margin-bottom: 0;

          div {
            align-items: center;
            display: flex;
            height: 90%;
            justify-content: flex-end;

            span {
              align-items: center;
              display: flex;

              img {
                color: $form-title-color;
                padding-left: 0.25rem;
                padding-right: 0.25rem;
              }
            }
            a {
              color: $form-title-color;
              font-size: 0.875rem;
            }
            button {
              margin-left: 4.625rem;
            }
          }
        }

        h2 {
          font-size: 1.25rem;
        }

        a {
          color: $dark-sky-blue;
          font-size: 0.75rem;
        }

        .helper-text {
          color: $semidark-bluegray;
          font-size: 0.75rem;
          font-weight: $light;
          margin-bottom: 0.25rem;
          margin-top: 0;

          strong {
            color: $dark-bluegray;
          }

          a {
            font-weight: $normal;
          }
        }

        .inline {
          align-items: center;
          display: flex;

          div {
            padding-right: 1rem;
          }
        }

        .field {
          display: flex;
          flex-direction: column;
          padding: 0;

          &.large {
            width: 423px;
          }
          &.medium {
            width: 332px;
          }
          &.small {
            min-width: 170px;
          }
          &.extra-small {
            min-width: 92px;
          }

          label, .label {
            color: $form-copy-color;
            font-size: 0.75rem;
            font-weight: $semi-bold;
            margin-bottom: 0.15rem;
          }

          input[type="text"],
          input[type="email"],
          input[type="password"],
          input[type="tel"],
          select,
          textarea {
            color: $navy-blue;
            background-color: $white;
            border: 1px solid $dark-bluegray;
            border-radius: 0.375rem;
            height: 34px;
            margin-bottom: 0.875rem;

            &.error {
              border-color: $error-red !important;
              border-width: 2px !important;
            }
          }
        }

        .radio-buttons {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;

          &.age-range {
            height: 1.5rem;
            margin-top: 1rem;

            label {
              font-weight: $normal;
            }
          }
          &.role {
            height: 6rem;

            label {
              color: $form-title-color;
              font-weight: $normal;
            }
            .error_messages {
              display: none;
            }
            .wrapped_label {
              display: inline;
            }
          }
          .radio-button {
            white-space: nowrap;

            label {
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}

table.users-table {
  @include table-style1;

  tbody > tr:not(.header):hover {
    img.right-arrow {
      background-color: white;
      border-radius: 1rem;
      filter: invert(1);
    }
  }
}
