@import "variables";
@import "mixins/date_fields";
@import "mixins/form";
@import "mixins/summary";
@import "mixins/tables";
@import "mixins/search";
@import "mixins/pagination";
@import "mixins/layouts";

.manager.visits-new,
.manager.visits-create,
.manager.visits-edit {
  main > .container {
    max-width: unset;
  }

  .form-container {
    @include projects-visits-form-container;
  }

  .visits-form {
    @include projects-visits-form-layout;

    .date-range-select {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .date-time-select {
        select {
          background-color: white;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }

        input {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
      }

      .separator {
        border: 1px solid $black;
        font-size: 0;
        height: 0;
        margin: 0.5rem;
        width: 0.625rem;
      }
    }
  }

  .reserve-message {
    background-color: $gold;
    border-radius: 0.3125rem;
    font-size: 0.8125rem;
    margin-bottom: 1rem;
    padding: 1.5rem;

    > p:first-of-type {
      margin-top: 0;
    }

    > p:last-of-type {
      margin-bottom: 0;
    }

    p {
      line-height: 1.5rem;
      margin-bottom: 1.2rem;
    }
  }

  .special-needs-statement:empty {
    display: none;
  }
}

.manager.visits-index {
  section.content {
    display: block;

    header {
      margin: 0.5rem 0;

      h1 {
        font-size: 1.85rem;
        font-weight: $medium;
        margin: 0.5rem 0;
      }
    }

    hr {
      border-bottom: 2px solid $gray;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      margin: 0;
    }

    @include search-subsection;
    @include pagination;
  }

  header.content-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    h2 {
      display: inline-block;
      font-size: 1.85rem;
      font-weight: $medium;
      margin-bottom: 0;
      margin-top: 0;
      margin-right: 1.5rem;
    }

    a {
      color: $sky-blue;
      font-size: 0.75rem;
      vertical-align: middle;
    }
  }
}

.manager.visits-show {
  .m-top-3 {
    margin-top: 2rem;
  }

  .container {
    .content {
      padding: 3.5rem 3.5rem 0rem 3.5rem;
    }
  }

  .status {
    border-radius: 20px;
    height: 30px;
    margin: 0px 20px 0px 5px;
    padding: 0px 30px;
  }

  .visit-form {
    padding: 0px;
  }

  .text-center {
    text-align: center;
  }

  .text-end {
    text-align: end;
  }

  .reserve-info {
    padding: 1.625rem 3rem;
  }

  .display-link {
    display: block;
  }

  .controls {
    padding: 1.5rem;
  }

  p.notice {
    background-color: $gold;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }

  p.alert {
    background-color: $pink;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }

  .btn-status {
    align-items: center;
    border: 1px solid $dark-bluegray;
    border-radius: 1.5rem;
    color: black;
    display: flex;
    height: 20px;
    justify-content: center;
    padding: 0.2rem 1rem;
    text-decoration-line: none;
    width: 8rem;

    &:hover {
      cursor: pointer;
    }
  }

  ul.visit-menu-bar {
    border-bottom: 1px solid $dark-bluegray;
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
      display: flex;
      margin-right: 2.5rem;

      a.disabled-link {
        color: $light-bluegray !important;
      }

      a.nav-link {
        color: $dark-bluegray;
        display: inline-block;
        font-weight: $semi-bold;
        padding-bottom: 0.25rem;
        text-decoration: none;

        &.active {
          border-bottom: 6px solid $sky-blue;
          color: $navy-blue;
          font-weight: $semi-bold;
        }
      }
    }
  }

  .footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 30px 281px !important;

    input {
      margin-left: 20px;
      padding: 20px;
    }

    button {
      margin-left: 100px;
    }

    a {
      align-items: center;
      color: $dark-bluegray;
      display: flex;
      text-decoration: none;

      img {
        margin-right: 7px;
      }
    }
  }
}

.manager {
  .visits-search-list {
    @include pagination;

    header .list-count {
      font-size: 0.9375rem;
    }
  }
}

.visit-summary-box {
  background-color: $light-gray;
  border: 1px solid $dark-bluegray;
  font-size: 0.875rem;
  margin-bottom: 3rem;
  padding: 1.25rem;

  .display-flex {
    display: flex;
    justify-content: space-between;
  }

  button {
    border-radius: 20px;
    height: 30px;
    margin: 0px 20px 0px 5px;
    padding: 0px 30px;
  }

  .info-block {
    display: flex;
    margin-bottom: 12px;

    p {
      margin: 0.5rem 0;
    }

    .title {
      font-weight: $semi-bold;
    }

    .w-200 {
      width: 200px;
    }
  }
  .info-block:last-child {
    margin: 0rem;
  }

  .bg-approved {
    background-color: $green;
  }

  .bg-in_review {
    background-color: $yellow;
  }

  .bg-cancelled {
    background-color: $pink;
  }

  .bg-denied {
    background-color: $blue;
  }

  .bg-incomplete {
    background-color: $red-alert;
  }
}
