@import "variables";
@import "mixins/summary";
@import "mixins/date_fields";
@import "mixins/form";
@import "mixins/controls";
@import "mixins/tables";

.waivers_policies-show,
.waivers_policies-update {
  .container {
    display: block;
    @include form;

    section {
      color: $navy-blue;
      padding: 0 $form-page-gutter;

      h1 {
        font-size: 2.25rem;
        font-weight: $semi-bold;
        line-height: 2.75rem;
      }
    }

    .progress-steps {
      padding: 1.625rem $form-page-gutter;
    }

    .agreement-info {
      padding: 0;
      .reserve-waivers {
        h2 {
          font-size: 0.9375rem;
          font-weight: $semi-bold;
          margin: 0;
        }
      }

      .policy {
        display: flex;
        justify-content: space-between;

        .agreement-logo {
          max-width: 250px;
          max-height: 200px;
        }
      }

      .agree-all {
        background: $gold;
        display: flex;
        margin-top: 3rem;
        padding: 2px 30px;

        .checkbox {
          background-color: $light-gray;
          border-radius: 12px;
          display: flex;
          height: fit-content;
          margin: auto 0;
          padding: 10px;
          width: 20rem;

          label {
            font-size: 0.813rem;
            margin: auto 0;
            padding-left: 5px;
          }
        }
      }

      .agree {
        display: flex;
        background-color: $light-gray;
        flex-direction: row;
        height: 51px;
        padding-left: 10px;

        input[type="checkbox"] {
          height: 16px;
          margin: auto 0;
          width: 16px;
        }

        label {
          color: $navy-blue;
          font-size: 0.813rem;
          font-family: Sora;
          height: 23px;
          letter-spacing: 0;
          line-height: 23px;
          margin: auto 0;
          padding-left: 10px;
          width: 296px;

          .require {
            display: none;
          }
        }
      }

      .agree-error {
        display: flex;
        background-color: $light-red;
        flex-direction: row;
        height: 51px;
        padding-left: 10px;

        input[type="checkbox"] {
          height: 16px;
          margin: auto 0;
          width: 16px;
        }

        label {
          color: $navy-blue;
          font-size: 0.813rem;
          font-family: Sora;
          height: 23px;
          letter-spacing: 0;
          line-height: 23px;
          margin: auto 0;
          padding-left: 10px;
          width: 296px;

          .require {
            display: inline;
            color: $red;
          }
        }
      }
      .signature {
        display: flex;
        justify-content: center;
        padding: 10px;
      }

      h1 {
        font-size: 2.25rem;
        font-weight: $semi-bold;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: $bold;
      }

      .policy-link {
        color: $sky-blue;
        display: block;
        font-weight: bold;
        font-size: 0.813rem;
        height: 18px;
        line-height: 18px;
        letter-spacing: 0;
        margin: 10px 0;
        text-decoration: none;
      }
    }
  }
}

.waivers-list {
  padding: 0 400px;
}
