<div class="agree">
  <%= check_box_tag id, 1, check ,
    data: { action: "click->waivers-policies#agreementHandler", "waivers-policies-target": "agreement"  },
    class: "policy-check"
  %>
  <%= label_tag id do %>
    <strong><%= t(".yes_agree") %></strong>
    <span class="require"> * </span>
  <% end %>
</div>
