<section class="content">
  <%= render partial: 'header' %>
  <div>
    <section class="report-menu">
      <%= render partial: 'menu' %>
    </section>
    <section class="report">
      <header><%= t(".part_1_reserve_use_data") %></header>
    </section>
  </div>
</section>
