<section class="content">
  <header>Reports</header>
  <div>
    <section class="report-menu">
      <%= render partial: 'menu' %>
    </section>
    <section class="report">
      <header><%= t(".part_5_publications") %></header>
    </section>
  </div>
</section>
