<section class="content">
  <header>Reports</header>
  <div>
    <section class="report-menu">
      <%= render partial: 'menu', locals: { presenter: @presenter } %>
    </section>
    <section class="report">
      <header><%= t(".part_6_narrative") %></header>
    </section>
  </div>
</section>
