<section class="content full">
  <%= render partial: "shared/manager/dashboard/header", locals: { selected_tab: 1 } %>
  <hr />
  <%= turbo_frame_tag 'dashboard-content' do %>
    <section class="visits-search-list">
      <section class="search-subsection">
        <%= render partial: "search", locals: { presenter: @presenter } %>
      </section>
      <section class="reserve-info-subsection">
        <%= render partial: "visits", locals: { presenter: @presenter } %>
      </section>
    </section>
  <% end %>
</section>
