<tr class="activity">
  <td><%= link_to activity.action_name, activity.details_page_url, data: { "turbo-frame": "modal-content" } %></td>
  <td><%= activity.date %></td>
  <td><%= activity.details %></td>
  <td><%= activity.user_name %></td>
</tr>
