<turbo-frame id="project-details">
  <section class="activity-and-notes">
    <turbo-frame id="activity_logs">
      <%= render partial: "activity_table", locals: { presenter: @presenter } %>
    </turbo-frame>
    <turbo-frame id="reserve_notes">
      <%= render partial: "reserve_notes", locals: { presenter: @presenter } %>
    </turbo-frame>
  </section>
</turbo-frame>
