<section class="project-funding">
  <h2 class="main-header"><%= t(".upload_file") %></h2>
  <table id="funding-summary-table" class="summary-table">
    <thead>
      <tr>
        <th><%= t(".file_name") %></th>
        <th><%= t(".date") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "projects/file", collection: presenter.project.files %>
    </tbody>
  </table>
</section>
