<div style="display: inline-block; padding-bottom: 10px; width: 100%">
  <div style="float: left;">
    <h1 style="font-size: 1.8em; font-weight: bold; margin-bottom: 0px;">
      <%= presenter.visit_reserve_name %>
    </h1>
  </div>
</div>
