<tr class="user_visit">
  <td style="border-bottom: 1px solid #aab7bb; padding: 0.75em 0.75em 0.75em 0;"><%= mail_to user_visit.user_email, user_visit.user_full_name %></td>
  <td style="border-bottom: 1px solid #aab7bb; padding: 0.75em 0.75em 0.75em 0;"><%= user_visit.requested_date_range %></td>
  <td style="border-bottom: 1px solid #aab7bb; padding: 0.75em 0.75em 0.75em 0;"><%= user_visit.institution_name %></td>
  <td style="border-bottom: 1px solid #aab7bb; padding: 0.75em 0.75em 0.75em 0;"><%= user_visit.role %></td>
</tr>
