<table class="projects-table">
  <tbody>
    <%= render partial: "project", collection: presenter.projects %>
  </tbody>
</table>
<%= paginate presenter.project_scope, data: { "turbo-action": "advance" } %>
