<%= turbo_frame_tag 'projects-index' do %>
  <section class="content full">
    <header>
      <h1><%= t(".projects") %></h1>
    </header>
    <hr />
    <section class="projects-search-list">
      <section class="search-subsection">
        <%= render partial: "search", locals: { presenter: @presenter } %>
      </section>
      <section class="reserve-info-subsection">
        <%= render partial: "projects_table", locals: { presenter: @presenter } %>
      </section>
    </section>
  </section>
<% end %>
