<section class="content">
  <%= render partial: "manager/projects/summary_box", locals: { presenter: @presenter } %>
  <%= render "manager/projects/menu" %>
  <turbo-frame id="project-details">
    <%= render partial: "manager/projects/summary/content", locals: { presenter: @presenter } %>
  </turbo-frame>
</section>
