<div class="container">
  <section class="content">
    <%= render partial: "manager/projects/summary_box", locals: { presenter: @presenter } %>
    <%= render "manager/projects/menu" %>
  </section>
</div>
