<div class="field">
  <label for="reserve-special-needs"><%= t(".labels.special_needs") %></label>
  <p class="special-needs-statement"><%= @page.special_needs_statement %></p>
  <textarea id="reserve-special-needs" name="visit[special_needs]"></textarea>
</div>

<div class="alert_message"><%= @page.alert_message %></div>
