<section class="uneditable-visit-project-info">
  <section>
    <header>
      <h3>
        <%= t("universal.project.project_types.#{presenter.project_type}") %>
        -
        <%= link_to presenter.project_summary_path, target: :_blank, class: "display-link" do %>
          <%= presenter.project_title %>
        <% end %>
      </h3>
    </header>
    <p><%= presenter.applicant_description %></p>
  </section>
</section>

