<section class="visit-form">
  <h2><%= t(".visitors_list") %></h2>
  <table id="amenities-summary-table" class="summary-table">
    <thead>
      <tr>
        <th><%= t(".name") %></th>
        <th><%= t(".date_range") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "shared/visits/user_visits/user_visit_dates", collection: presenter.user_visits, as: :user_visit %>
    </tbody>
  </table>
</section>
