<turbo-frame id="uninvoiced-visit">
  <table class="uninvoiced-visit table-style1">
    <tbody>
      <%= render partial: "uninvoiced_visit", collection: visits, as: :visit %>
    <tbody>
  </table>
</turbo-frame>
