<turbo-frame id="modal-content" class="empty" role="dialog" aria-labelledby="modal-title"
  data-action="mousedown@window->modal#closeBackground"
>
  <h1 id="modal-title">This is an empty modal</h1>
</turbo-frame>
