<div class="row form-group">
  <div class="col-33">
    <%= form.label :rate, presenter.description, class: "form-inline-label" %>
  </div>
  <div class="col">
    <%= form.text_field :rate, class: "form-input" %>
  </div>
</div>
