@import "variables";
@import "mixins/form";
@import "mixins/tables";
@import "mixins/pagination";

section.logs {
  @include pagination;

  margin-bottom: 3.1875rem;

  h2 {
    color: $navy-blue;
    font-size: 1.25rem;
    font-weight: $semi-bold;
    margin-bottom: 1.25rem;
  }

  .logs-table {
    @include table-style1;

    td:first-of-type {
      font-weight: $semi-bold;
    }

    tbody > tr:not(.header):hover {
      img.right-arrow {
        background-color: white;
        border-radius: 1rem;
        filter: invert(1);
      }
    }
  }
}

section.reserve-notes {
  margin-bottom: 3.1875rem;

  .note-form {
    align-items: center;
    background-color: $light-gray;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 20px;

    #note-input {
      flex-grow: 1;
    }

    .submit-btn {
      background-color: $white;
      border: 2px solid $black;
      border-radius: $border-radius;
      cursor: pointer;
      height: 2rem;
      font-size: 0.8125rem;
      font-weight: $semi-bold;
      margin-left: 1rem;
      white-space: nowrap;
    }
  }

  .note-header {
    font-weight: $semi-bold;
  }

  hr {
    border-bottom: 1px solid $light-bluegray;
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

.modal {
  section {
    margin-bottom: 0px;
  }

  .log, .log-changes {
    table {
      td {
        font-size: 0.875rem;
      }
    }
  }

  .log-changes {
    table {
      .highlight {
        color: $red;
      }
    }
  }
}
