@use "variables" as *;
@use "mixins/form" as *;
@use "mixins/tables" as *;
@use "mixins/pagination" as *;

section.logs {
  @include pagination;

  margin-bottom: 3.1875rem;

  h2 {
    color: $navy-blue;
    font-size: 1.25rem;
    font-weight: $semi-bold;
    margin-bottom: 1.25rem;
  }

  .logs-table {
    @include table-style1;

    td:first-of-type {
      font-weight: $semi-bold;
    }

    tbody > tr:not(.header):hover {
      img.right-arrow {
        background-color: white;
        border-radius: 1rem;
        filter: invert(1);
      }
    }
  }
}

section.reserve-notes {
  margin-bottom: 3.1875rem;

  .note-form {
    align-items: center;
    background-color: $light-gray;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 20px;

    #note-input {
      flex-grow: 1;
    }

    .submit-btn {
      background-color: $white;
      border: 2px solid $black;
      border-radius: $border-radius;
      cursor: pointer;
      height: 2rem;
      font-size: 0.8125rem;
      font-weight: $semi-bold;
      margin-left: 1rem;
      white-space: nowrap;
    }
  }

  .note-header {
    font-weight: $semi-bold;
  }

  hr {
    border-bottom: 1px solid $light-bluegray;
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

.log-modal {
  padding: 1.25rem;

  > header {
    align-items: center;
    display: flex;
    margin-bottom: 20px;

    h2 {
      font-size: 1.5rem;
      font-weight: $semi-bold;
      margin: 0;
    }

    img.close {
      background-color: rgba($gray, 0.36);
      border-radius: 50%;
      cursor: pointer;
      margin-left: auto;
      padding: 0.5rem;
    }

  }

  hr {
    border-bottom: 1px solid $gray;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  table {
    width: 100%;
  }

  .log, .log-changes {
    table {
      td {
        font-size: 0.875rem;
      }
    }
  }

  .log-changes {
    table {
      border-spacing: 0 8px;

      th {
        font-weight: $semi-bold;
        text-align: left;
      }

      td {
        vertical-align: top;
      }

      .log-field {
        width: 20%
      }

      .old-value,
      .new-value {
        width: 40%
      }

      code {
        color: $red;
      }
    }
  }
}
