@import "variables";

.amenity_group{
  font-size: 0.8125rem;
  margin: 0px 0px 30px 0px;

  a {
    text-decoration: none;
  }

  h3 {
    color: $dark-bluegray;
    display: flex;
  }

  hr {
    border-bottom: 1px solid $black;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .group_label {
    margin-left: 15px;
  }

  .amenity-padding {
    padding: 15px;
  }

  .amenity {
    input[type="radio"] {
      display: none;
    }

    .amenity-header {
      display: flex;
      width: -webkit-fill-available;

      h3 {
        color: $black;
      }

      p {
        font-size: small;
        margin: 3px 0;
      }

      img.amenity-img {
        border: 1px solid $black;
        border-radius: $border-radius;
        height: 89px;
        width: 146px;
      }

      .bold {
        font-size: small;
        font-weight: $bold;
      }
    }

    label.amenity-label {
      align-items: flex-start;
      border: 1px solid $black;
      border-radius: $border-radius;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0.5rem 0;

      .content {
        flex: 1;
        margin: 0 1rem;
        padding: 0px;

        h3 {
          margin: 0;
        }

        a {
          display: none;

          &.showing {
            color: $dark-bluegray;
            display: initial;
            font-size: small;
          }
        }

        .comment-and-rates {
          display: none;

          &.showing {
            display: initial;
          }
        }
      }

      .bookings {
        background: lighten($bluegray, 30%);
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        width: 100%;

        .booking {
          display: none;
          flex-basis: 100%;
          flex-direction: column;

          .booking-card {
            align-items: end;
            background-color: $white;
            border: 1px solid;
            border-radius: $border-radius;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-between;
            margin-bottom: 15px;
            padding: 10px;

            button {
              background-color: transparent;
              border: 0;
              margin: 0;
              padding: 0;
            }

            label {
              display: block;
              flex-basis: 100%;
              text-align: center;
            }

            .flex-row-field {
              align-items: end;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              gap: 4px;

              &.remove-amenity-field {
                align-self: center;
              }
            }

            .flex-column-field {
              align-items: center;
              display: flex;
              flex-direction: column;
            }

            .field {
              span {
                text-align: center;
              }
            }

            .counter {
              text-align: center;
              width: 45px;
            }

            .cross-icon {
              display: flex;
              flex-direction: column;
              justify-content: center;

              button {
                background-color: transparent;
                border: none;
              }
            }

            .subtotal {
              align-items: center;
              display: flex;
              font-weight: $semi-bold;
              height: 2rem;
            }
          }

          .add-booking-card {
            display: flex;
            justify-content: flex-end;

            a {
              align-items: center;
              display: flex;
              color: $black;
              margin-right: 11px;
              text-decoration: none;
            }

            img {
              margin-left: 10px;
            }
          }

          .add-booking-card img, .booking-card button img {
            height: 30px;
            width: 30px;
          }
        }
      }
    }

    input:checked + label.amenity-label {
      background: lighten($bluegray, 35%);
      border: 2px solid $black;

      .content {
        background: lighten($bluegray, 35%);
      }

      .booking {
        display: flex;

        label {
          border: 0px;
        }
      }
    }
  }
}
