@use "sass:color";
@use "variables" as *;

.amenity_group{
  font-size: 0.8125rem;
  margin: 0 !important;

  a {
    text-decoration: none;
  }

  header {
    align-items: center;
    background-color: color.adjust($bluegray, $lightness: 35%);
    border-radius: $border-radius;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    margin-top: 14px;
    transition: all .15s ease-in-out;

    h3 {
      color: $dark-bluegray;
      display: inline-block;
      margin-bottom: 4px;
      margin-top: 4px;
    }

    img {
      filter: opacity(40%);
    }
  }

  header:hover {
    background-color: color.adjust($bluegray, $lightness: 30%);

    h3 {
      color: $black;
    }

    img {
      filter: none;
    }
  }

  .amenity-padding {
    padding: 15px;
  }

  .amenity {
    margin-top: 8px;

    input[type="radio"] {
      display: none;
    }

    .amenity-header {
      cursor: pointer;
      display: flex;
      gap: 1rem;
      width: 100%;

      p {
        font-size: small;
        margin: 3px 0;
      }

      img.amenity-check-icon, img.amenity-plus-icon {
        height: 30px;
        width: 30px;
        align-self: center;
      }

      img.amenity-check-icon {
        background-color: $gold;
        border-radius: 30px;
        display: none;
      }

      img.amenity-plus-icon {
        filter: opacity(30%);
        cursor: pointer;
      }

      img.amenity-img {
        border: 1px solid $light-bluegray;
        border-radius: $border-radius;
        filter: opacity(40%);
        height: 89px;
        width: 146px;
      }

      .content {
        flex: 1;
        padding: 0px;

        h3 {
          margin: 0;
        }

        a {
          display: none;

          &.showing {
            color: $light-bluegray;
            display: initial;
            font-size: small;
          }
        }

        .comment-and-rates {
          display: none;

          &.showing {
            display: initial;
          }
        }
      }

      .rates {
        select {
          filter: opacity(20%);
          pointer-events: none;
        }
      }
    }

    label.amenity-label {
      align-items: flex-start;
      border: 1px solid $light-bluegray;
      border-radius: $border-radius;
      color: $light-bluegray;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      hr {
        border-bottom: 1px solid $light-bluegray;
        border-top: none;
        border-left: none;
        border-right: none;
      }

      .amenity-header .content .description:not(.showing) {
        display: none;
      }

      .bookings {
        background: color.adjust($bluegray, $lightness: 30%);
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        width: 100%;

        .booking {
          display: none;
          flex-basis: 100%;
          flex-direction: column;

          .booking-card {
            align-items: end;
            background-color: $white;
            border: 1px solid;
            border-radius: $border-radius;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-between;
            margin-bottom: 15px;
            padding: 10px;

            button {
              background-color: transparent;
              border: 0;
              margin: 0;
              padding: 0;
            }

            label {
              display: block;
              flex-basis: 100%;
              text-align: center;
            }

            .flex-row-field {
              align-items: end;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              gap: 4px;

              &.remove-amenity-field {
                align-self: center;
              }
            }

            .flex-column-field {
              align-items: center;
              display: flex;
              flex-direction: column;
            }

            .field {
              span {
                text-align: center;
              }
            }

            .counter {
              -moz-appearance: textfield;
              text-align: center;
              width: 45px;

              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            }

            .more, .less, .cross-button {
              background-color: transparent;
              border: none;
              display: flex;
              flex-direction: column;
              justify-content: center;

              img {
                filter: opacity(40%);
                cursor: pointer;
              }

              img:hover {
                filter: none;
              }

              img:active {
                filter: opacity(60%);
              }
            }

            .subtotal {
              align-items: center;
              display: flex;
              font-weight: $semi-bold;
              height: 2rem;
            }
          }

          .add-booking-card {
            display: flex;
            justify-content: flex-end;

            a {
              align-items: center;
              display: flex;
              color: $dark-gray;
              padding: 3px 11px;
              text-decoration: none;

              img {
                filter: opacity(40%);
                margin-left: 10px;
              }
            }

            a:hover {
              background-color: $light-bluegray;
              border-radius: $border-radius;
              color: $black;
              transition: all .15s ease-in-out;

              img {
                filter: none;
              }
            }

            a:active {
              background-color: $bluegray;
              transition: none;
            }
          }

          .add-booking-card img, .booking-card button img {
            height: 30px;
            width: 30px;
          }
        }
      }
    }

    input:checked + label.amenity-label {
      background: color.adjust($bluegray, $lightness: 35%);
      border: 2px solid $black;
      color: $black;

      hr {
        border-bottom-color: $black;
      }

      .amenity-header {
        cursor: default;
      }

      img.amenity-check-icon {
        display: unset;
      }

      img.amenity-plus-icon {
        display: none;
      }

      img.amenity-img {
        border: 1px solid $black;
        filter: opacity(100%);
      }

      .content {
        background: color.adjust($bluegray, $lightness: 35%);

        a.showing {
          color: $dark-bluegray;
        }
      }

      .rates {
        select {
          filter: unset;
          pointer-events: unset;
        }
      }

      .booking {
        display: flex;

        label {
          border: 0px;
        }
      }
    }
  }

  .amenity:last-child {
    margin-bottom: 2.5rem;
  }

  .amenity:hover {
    img.amenity-plus-icon {
      filter: none;
    }

    img.amenity-plus-icon {
      filter: opacity(80%);
    }
  }
}
