@import "variables";

.amenity_group{
  margin: 0px 0px 30px 0px;

  h3 {
    color: $dark-bluegray;
    display: flex;
  }
  
  .group_label {
    margin-left: 15px;
  }
  
  a {
    text-decoration: none;
  }

  .amenity {
    input[type="radio"] {
      margin: 15px 0px 0px 10px;
      position: absolute;
    }

    .amenity-padding {
      display: flex;
      padding: 15px 20px;
      width: -webkit-fill-available;

      h3 {
        color: $black;
      }

      p {
        font-size: small;
        margin: 3px;
      }

      img {
        margin-left: 10px;
      }

      .bold {
        font-size: small;
        font-weight: $bold;
      }

      .content {
        padding: 0px;
      }
    }

    label {
      align-items: flex-start;
      border: 1px solid $black;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0.5rem 0;

      img {
        border: 1px dotted $black;
        height: 89px;
        width: 146px;
      }

      .content {
        flex: 1;
        margin: 0 1rem;

        h3 {
          margin: 0;
        }

        a {
          display: none;

          &.showing {
            color: $dark-bluegray;
            display: initial;
            font-size: small;
          }
        }

        .comment-and-rates {
          display: none;

          &.showing {
            display: initial;
          }
        }
      }

      .bookings {
        background: lighten($bluegray, 30%);
        width: 100%;

        img {
          border: 0px;
          height: 30px;
          width: 50px;
        }

        .booking {
          display: none;
          flex-basis: 100%;
          flex-direction: column;

          .booking-card {
            background-color: $white;
            border: 1px solid;
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 30px 30px 0px 30px;
            padding: 10px;

            .flex-row-field {
              align-items: flex-end;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              position: relative;

              .field {
                span {
                  text-align: center;
                }
              }

              .cross-icon {
                img {
                 margin: 0px 0px 20px 40px;
                }
              }

              button {
                background-color: transparent;
                border: none;
                margin: 0;
                padding: 0;

                img {
                  border: 0px;
                  height: 40px;
                  width: 50px;
                }
              }

              .flex-column-field {
                display: flex;
                flex-direction: column;
              }

              label {
                display: block;
                text-align: center;
              }

              .label-error {
                width: 145px;
              }

              .counter {
                width: 20px;
              }

              input {
                align-items: center;
                border-radius: 5px;
                margin: 0px 3px;
                padding: 10px;
              }

              select {
                padding: 10px;
              }

              label {
                flex-basis: 100%;
              }
            }

            .cross-icon {
              display: flex;
              flex-direction: column;
              justify-content: center;

              button {
                background-color: transparent;
                border: none;
              }
            }
          }

          .add-booking-card {
            align-items: center;
            color: $black;
            display: flex;
            padding: 10px 0px 10px 20px;
            text-decoration: none;
            width: fit-content;
          }
        }
      }
    }

    input:checked + label {
      background: lighten($bluegray, 35%);
      border: 2px solid $black;

      .content {
        background: lighten($bluegray, 35%);
      }
      .booking {
        display: flex;

        label {
          border: 0px;
        }
      }
    }
  }
}
