// Entry point for your Sass build

// Variables and mixins (used in this file)
@use "variables" as *;
@use "mixins/dropdown" as *;
@use "mixins/input" as *;
@use "mixins/tables" as *;
@use "mixins/summary" as *;

// Base styles
@use "base/animation" as *;
@use "base/site" as *;

// Component styles
@use "actiontext" as *;
@use "activity_and_notes" as *;
@use "amenities" as *;
@use "autocomplete" as *;
@use "buttons" as *;
@use "calendar" as *;
@use "container" as *;
@use "dashboard" as *;
@use "flash" as *;
@use "footer" as *;
@use "fundings" as *;
@use "homepage" as *;
@use "icon-buttons" as *;
@use "invoices" as *;
@use "modal" as *;
@use "navbar" as *;
@use "new_features" as *;
@use "password" as *;
@use "pill" as *;
@use "project_questions" as *;
@use "projects" as *;
@use "registration" as *;
@use "reserves" as *;
@use "shared" as *;
@use "steps" as *;
@use "team_memberships" as *;
@use "toolbar-buttons" as *;
@use "unauthenticated" as *;
@use "user_visits" as *;
@use "value-projection" as *;
@use "visit_questions" as *;
@use "visits" as *;
@use "waivers_policies" as *;

// Manager styles
@use "manager/activities" as *;
@use "manager/dashboard" as *;
@use "manager/flex" as *;
@use "manager/footer" as *;
@use "manager/fundings" as *;
@use "manager/institutions" as *;
@use "manager/invoices" as *;
@use "manager/invoices-pdf" as *;
@use "manager/manager" as *;
@use "manager/navbar" as *;
@use "manager/project_questions" as *;
@use "manager/projects" as *;
@use "manager/reports" as *;
@use "manager/reserve_info" as *;
@use "manager/summary" as *;
@use "manager/team-memberships" as *;
@use "manager/uninvoiced" as *;
@use "manager/user_visits" as *;
@use "manager/users" as *;
@use "manager/visit_questions" as *;
@use "manager/visits" as *;
@use "manager/waivers_policies" as *;


html {
  height: 100%;
}

body {
  @include input_default;
  @include dropdown;

  background-color: $white;
  border: 0;
  color: $navy-blue;
  display: flex;
  flex-direction: column;
  font-family: $sora, $sans-serif;
  font-size: $base-font-size;
  height: 100%;
  margin: 0;
  padding: 0;

  &.no-scroll {
    overflow: hidden;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;

  a {
    color: $dark-sky-blue;
    text-decoration: none;
  }

  li > a,
  span > a {
    text-decoration: underline;
  }
}

select:focus,
input:focus,
textarea:focus {
  border-color: #1295D8 !important;
  box-shadow: 0 0 0 2px #72CDF4;
  outline: none;
  transition: all .15s ease-in-out;
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .5rem center;
  background-size: 16px 12px;
  padding-right: 30px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

turbo-frame {
  width: 100%;
}

span.required {
  color: $red;
}

.load-hide {
  display: none !important;
}

.background-1 {
  background-color: $light-light-blue;
  padding-bottom: 1rem;
  padding-top: 1rem;

  a {
    color: $dark-sky-blue;
    text-decoration: underline;
  }
}

.display-none,
.hidden {
  display: none;
}

// TODO: remove in future
table.summary-table {
  border-spacing: 0;
  width: 100%;

  thead{
    color: $semidark-bluegray;

    tr {
      th {
        border-bottom: 2px solid $gray;
        border-collapse: collapse;
        font-size: .75rem;
        font-weight: $normal;
        padding: .25rem, .25rem, .25rem, 0;
        text-align: left;
      }
    }
  }
  tbody {
    .inactive-user {
      color: $gray;
    }

    tr {
      td {
        border-bottom: 1px solid $gray;
        border-collapse: collapse;
        font-size: 0.8125rem;
        padding: .75rem .75rem .75rem 0
      }
    }

    tr.disable {
      color: $semidark-bluegray;

      .switch input:checked + .slider {
        background-color: $cornflower;
      }
    }

    td {
      .amenity-status {
        border: 1px solid $pill-border-neutral;
        border-radius: 1rem;
        padding: .3125rem 0.5rem 0.25rem 0.5rem;
      }

      .hide {
        display: none;
      }

      .invoiced {
        background: 0.5rem / 1rem 1rem no-repeat url("check.svg") $pill-background-neutral;
      }

      .margin-left {
        margin-left: 50px;
      }

      .switch {
        color: $white;
        display: inline-block;
        height: 34px;
        position: relative;
        width: 60px;

        .margin-top {
          margin-top: 7px;
        }

        .opt-yes {
          margin-left: 5px;
        }

        .opt-no {
          margin-left: 7px;
        }

        .switch input {
          height: 0;
          opacity: 0;
          width: 0;
        }

        .slider {
          background-color: $gray;
          bottom: 0;
          cursor: pointer;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          transition: .4s;
          -webkit-transition: .4s;
        }

        .slider:before {
          bottom: 4px;
          background-color: $white;
          content: "";
          height: 26px;
          left: 4px;
          position: absolute;
          transition: .4s;
          width: 26px;
          -webkit-transition: .4s;
        }

        input:checked + .slider {
          background-color: $sky-blue;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px $sky-blue;
        }

        input:checked + .slider:before {
          -ms-transform: translateX(26px);
          transform: translateX(26px);
          -webkit-transform: translateX(26px);
        }

        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }
    }
  }
}

table.summary-table-style2 {
  @include summary-table-style2;
}

hr.subtle {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid $bluegray;
  margin-block-end: 1em;
  margin-block-start: 1em;
}
