@import "variables";

.autocomplete {
  input {
    width: 100%;
  }

  div.autocomplete-results-container {
    display: flex;
    position: relative;
  }

  ul.autocomplete-results {
    border-radius: 0 !important;
    border: 1px solid #aab7bb !important;
    box-shadow: 0px 0px 3px 0px #aab7bb !important;
    box-sizing: border-box !important;
    display: inline-block !important;
    left: 0 !important;
    list-style: none !important;
    margin: 0 !important;
    max-height: 200px !important;
    overflow: scroll;
    padding-left: 0 !important;
    position: absolute !important;
    right: 0 !important;


    li {
      background-color: $white;
      flex: 1;
      padding: 5px 12px;
    }

    li:not(:last-of-type) {
      border-bottom: 1px solid #aab7bb;
    }

    li.active {
      background-color: #556b72;
      color: white;
    }
  }

  ul.autocomplete-results:empty {
    display: none !important;
  }
}
