@use "variables" as *;

button.active,
a.button,
input[type="submit"] {
  align-items: center;
  background: $active-button-fill;
  border-radius: 2.25rem;
  border: 0;
  color: $active-button-text !important;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: $medium;
  justify-content: center;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  transition: all .15s ease-in-out;

  img {
    margin-left: 1rem;
  }
}

button.active:hover,
a.button:hover,
input[type="submit"]:hover {
  filter: brightness(108%);
}

button.active:active,
a.button:active,
input[type="submit"]:active {
  filter: brightness(112%);
}


a.button.button-inline {
  color: $active-button-text !important;
  cursor: pointer;
  display: inline-block;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  text-decoration: none;
}

.button-main {
  background-color: #ffb511;
  border-radius: 1.5625rem;
  border: 0;
  box-sizing: border-box;
  color: #002045;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.9375rem;
  width: 100%;
}

.button-clear {
  background-color: unset !important;
  border-radius: 1.5625rem !important;
  border: 1px solid #002045 !important;
  color: #002045 !important;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1.5rem !important;
  text-decoration: none;
  transition: all .15s ease-in-out;
}

.button-clear:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.button-clear:active {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

a.button-subtle {
  border-radius: $border-radius;
  padding: 6px;
  transition: all .15s ease-in-out;
}

a.button-subtle:hover {
  background-color: rgba(0, 0, 0, 0.05)
}

a.button-subtle:active {
  background-color: rgba(0, 0, 0, 0.1)

}
