@use "variables" as *;
@use "mixins/search" as *;
@use "mixins/tables" as *;
@use "mixins/input" as *;

.modal .calendar-modal {
  font-size: 14px;
  margin: 0;
  padding: 1.5rem;

  a {
    text-decoration: none;
  }

  p {
    margin: 0;
  }

  hr {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid $gray;
    margin: 1rem 0;
  }

  .pill {
    align-items: center;
    border: 1px solid $dark-bluegray;
    color: black;
    display: flex;
    font-size: 0.875rem;
    font-weight: $medium;
    justify-content: center;
    text-transform: unset;

    &.approved {
      background-color: $green;
    }

    &.in_review {
      background-color: $yellow;
    }

    &.cancelled {
      background-color: $pink;
    }

    &.denied {
      background-color: $blue;
    }

    &.incomplete {
      background-color: $red-alert;
    }
  }

  .modal-header {
    border-bottom: 2px solid $dark-bluegray;
    display: flex;
    justify-content: space-between;
  }

  .visit-information {
    align-items: center;
    color: $semidark-bluegray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .project-information {
    color: $semidark-bluegray;
    font-style: italic;
  }

  .visitor-amenity-list-section {
    margin-bottom: 2rem;

    > header {
      h2 {
        font-size: 1rem;
        font-weight: $normal;
      }
    }

    .visitor-amenity-list {
      border-bottom: 1px solid $gray;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 4px 10px;

      span:first-child,
      span:last-child {
        max-width: 300px;
        min-width: 150px;
      }
    }
  }
}

.modal .calendar-visit-day-modal {
  .calendar-visit {
    margin-bottom: 1rem;

    header h2{
      font-size: 1rem;
      font-weight: $semi-bold;
      margin-bottom: 0.5rem;
    }
  }

  .calendar-visit-body {
    color: $dark-bluegray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .visit-status {
      text-align: center;
    }
  }
}
