@import "variables";

.flash {
  bottom: 0rem;
  font-size: 1rem;
  margin: 2rem;
  padding: 0;
  position: fixed;

  p:empty {
    padding: 0;
    margin: 0;
  }

  p {
    border-radius: 3px;
    box-shadow: 0 0 6px -3px $gray;
    margin: 1rem 0 0;
    padding: .5rem 1.375rem;
  }

  p.notice {
    background-color: $flash-green;
  }

  p.alert {
    background-color: $red-alert;
  }

  p.error {
    background-color: $red-alert;
  }
}

.flash-banner {
  padding: 1rem;

  &.notice {
    background-color: $gold;
  }
}

