@use "variables" as *;
@use "mixins/form" as *;
@use "mixins/tables" as *;
@use "mixins/date_fields" as *;
@use "mixins/layouts" as *;
@use "mixins/controls" as *;

.fundings-index,
.fundings-create,
.complete-update {
  @include controls;

  color: $navy-blue;

  .form-container {
    @include projects-visits-form-container;
  }

  .add-funding-form {
    @include projects-visits-form-layout;

    .funding-table {
      @include table-style1;
    }
  }

  .add-funding-form form,
  .modal form {
    [data-value-projection-projected-value] .sponsor_other {
      display: none;
    }

    [data-value-projection-projected-value="other"] .sponsor_other {
      display: inherit;
    }
  }

  #project-details {
    .fundings-index {
      padding: 0px;
    }
  }
}
