@import "variables";
@import "mixins/tables";
@import "mixins/pagination";

.home-index {
  @include pagination;

  .content {
    color: $navy-blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
      box-sizing: content-box;
      padding: 2.5rem;

      &:first-child {
        background-color: $section-background-odd;
        flex: 6;
        padding-left: 6.25rem;
      }

      &:last-child {
        background-color: $section-background-even;
        flex: 4;
        padding-right: 6.25rem;
      }

      header {
        align-items: center;
        border-bottom: 2px solid $gray;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1.25rem;
        font-weight: $bold;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 1.875rem;
        padding: 0.75rem 0;
        width: 100%;

        h1 {
          flex: 1;
          font-style: normal;
          font-weight: $semi-bold;
          margin: 0;
          white-space: nowrap;
        }

        select {
          background-color: $buttonset-background;
          border-radius: 0.325rem;
          border: 1px solid $buttonset-border;
          color: $navy-blue;
          flex: none;
          font-weight: $bold;
          height: 2rem;
          margin-right: 0.5rem;
          padding: 0.25rem 0.75rem;
        }

        .toolbar-buttons {
          flex: none;
        }
      }

      table {
        @include table-style1;
      }
    }

    > .invoices {
      table {
        tr {
          &.invoice {
            background-color: $table-row-even-background-neutral;
            border: 1px solid $table-row-even-border-neutral;
          }

          &.visit_request {
            background-color: $table-row-odd-background-neutral;
            border: 1px solid $table-row-odd-border-neutral;
          }

          &.denied {
            background-color: $table-row-background-highlight;
            border-color: $table-row-border-highlight;
          }
        }
      }
    }
  }

  .news {
    background: no-repeat top left / cover url(asset-path("latest-news-background.jpg"));
    padding: 4.75rem 6.25rem;

    header {
      color: $news-title-color;
      font-size: 1.25rem;

      a {
        color: $news-viewall-color;
        font-size: 0.75rem;
      }
    }

    .articles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .news_article {
        background: $white;
        border-radius: 0.25rem;
        flex-direction: column;
        flex: 1;
        margin-right: 0;
        margin: 1.25rem;
        min-width: 250px;
        text-decoration: none;

        &:first-child {
          margin-left: 0;
        }

        img {
          flex: 1;
          width: 100%;
        }

        p {
          color: $news-headline-color;
          font-size: 1rem;
          font-weight: $medium;
          margin: 0;
          padding: 1.5rem;
          text-decoration: none;
        }
      }
    }
  }
}

section.visits {
  header {
    select {
      width: 233px;
    }
  }
}

@media screen and (max-width: 768px) {
  .home-index {
    .content {

      & > * {
        padding: 1.325rem;

        &:first-child {
          padding-left: 1.325rem;
        }

        &:last-child {
          padding-right: 1.325rem;
        }
      }
    }

    .news {
      padding: 1rem 1.325rem;

      .articles {
        .news_article {
          margin: 1.25rem 0;
        }
      }
    }
  }
}
