@import "variables";

.home-index {
  .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    > * {
      box-sizing: content-box;
      padding: 2.5rem;

      header {
        align-items: center;
        border-bottom: 2px solid $gray;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 1.25rem;
        font-weight: $bold;
        margin: 0;
        margin-bottom: 1.25rem;
        padding: 0.75rem 0;

        em {
          font-style: normal;
          flex: 1;
          white-space: nowrap;
        }

        select {
          background-color: $buttonset-background;
          border: 1px solid $buttonset-border;
          border-radius: 0.325rem;
          flex: none;
          font-weight: $semi-bold;
          margin-right: 0.25rem;
          padding: 0.25rem;
        }

        .toolbar-buttons {
          flex: none;
        }
      }

      &:first-child {
        background-color: $section-background-odd;
        flex: 6;
      }

      &:last-child {
        background-color: $section-background-even;
        flex: 4;
      }

      table {
        border-collapse: collapse;
        width: 100%;

        tr {
          border-radius: 0.25rem;

          &.invoice {
            background-color: $table-row-even-background-neutral;
            border: 1px solid $table-row-even-border-neutral;
          }

          &.visit_request {
            background-color: $table-row-odd-background-neutral;
            border: 1px solid $table-row-odd-border-neutral;
          }

          &.denied {
            background-color: $table-row-background-highlight;
            border-color: $table-row-border-highlight;
          }
        }

        td {
          box-sizing: content-box;
          color: $table-text-color;
          font-size: 0.825rem;
          font-weight: $normal;
          padding: 0.75rem 0.25rem;

          &:first-child {
            align-items: stretch;
            display: flex;
            justify-content: stretch;
          }

          &.date-range {
            font-weight: $bold;
          }
        }
      }
    }
  }

  .news {
    background: no-repeat top left / cover url(asset-path("latest-news-background.jpg"));
    padding: 4.75rem 6rem;

    header {
      color: $news-title-color;
      font-size: 1.25rem;

      a {
        color: $news-viewall-color;
        font-size: 0.75rem;
      }
    }

    .articles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .news_article {
        background: $white;
        border-radius: 0.25rem;
        flex-direction: column;
        flex: 1;
        margin: 1.25rem;
        margin-right: 0;
        text-decoration: none;
        min-width: 250px;

        &:first-child {
          margin-left: 0;
        }

        img {
          flex: 1;
          width: 100%;
        }

        p {
          color: $news-headline-color;
          font-size: 1rem;
          font-weight: $medium;
          margin: 0;
          padding: 1.5rem;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home-index {
    .news {
      padding: 1rem;

      .articles {
        .news_article {
          margin: 1.25rem 0;
        }
      }
    }
  }
}
