@use "variables" as *;

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .input-with-buttons {
    display: flex;
    position: relative;

    input {
      flex: 1;
    }

    img.input-icon {
      height: 1rem;
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      width: 1rem;
    }
  }
}
