@import "variables";

.modal {
  background: rgba($navy-blue, 0.85);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  .screenreader-text {
    display: none;
  }

  &.visible {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .modal-content {
    background: #fff;
    border-radius: 10px;
    border: 1px solid #808080;
    display: flex;
    flex-direction: column;
    min-width: 768px;
    width: 50%;
  }

  img.main-image {
    object-fit: cover;
  }

  .text {
    padding: 1.25rem;
  }

  h1 {
    font-size: 2.25rem;
    font-weight: $semi-bold;
    margin: 1rem;
    text-align: center;
  }

  p {
    font-size: 0.875rem;
    font-weight: $normal;
    line-height: 1.5rem;
    margin: 0 3rem;
    padding: 0;
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: end;
    margin: 0 3rem 2rem 3rem;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    .modal-content {
      border-radius: 0;
      height: 100vh;
      left: 0;
      min-width: 100vw;
      position: fixed;
      top: 0;
      width: 100vw;

      img.main-image {
        flex: 1;
        object-fit: cover;
        width: 100vw;
      }

      .text {
        flex: 0;
        padding: 1.25rem;

        h1 {
          font-size: 1.5rem;
        }

        p {
          font-size: 0.75rem;
          line-height: 1.25rem;
          margin: 0;
        }
      }

      .buttons {
        flex: 0;
        margin: 0 1.5rem 1rem;
      }
    }
  }
}
