@import "variables";
@import "mixins/form";
@import "mixins/flex";
@import "mixins/date_fields";

.modal {
  @include form2;
  @include date_fields;

  background: rgba($navy-blue, 0.85);
  bottom: 0;
  display: none;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;

  a, a:visited {
    color: $dark-sky-blue;
  }

  .modal-container {
    align-items: center;
    display: flex;
    margin: 2rem auto;
    max-width: 800px;
    min-height: calc(100% - 4rem);
  }

  .close {
    img#x-icon {
      background-color: rgba($gray, 0.36);
      border-radius: 50%;
      padding: 0.5rem;
      transition: all .15s ease-in-out;
    }

    img#x-icon:hover {
      background-color: rgba($gray, 0.6);
    }

    img#x-icon:active {
      background-color: rgba($gray, 0.75);
    }
  }

  .modal-content{
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    position: relative;
    width: 100%;

    > .close {
      cursor: pointer;
      top: 0;
      right: 0;
      padding-top: 1rem;
      padding-right: 1rem;
      position: absolute;
    }

    header.modal-header {
      margin-bottom: 1.25rem;
      margin-right: 3rem;

      > h2 {
        margin: 0;
      }
    }

    header.modal-header.with-links {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .buttons {
      margin: 1.5rem 0 0 0;

      display: flex;
      justify-content: end;

      align-items: center;
      padding: 0;

      a, a:visited {
        margin: 0 1rem;
        text-decoration: none;
      }

      a.button {
        background-color: $gold;
        padding: 10px;
      }

      a.close {
        text-decoration: underline;
      }
    }
  }

  .screenreader-text {
    display: none;
  }

  &.visible {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .d-flex {
    @include flex(row, space-between, center)
  }

  .d-flex-column {
    @include flex(column);

    h3 {
      margin: 0px;
    }
  }

  .spacer {
    padding: 30px 30px 0px 30px;
  }

  .spacer-y {
    margin-bottom: 20px;
  }

  .input-field {
    border: 2px solid $black;
    min-width: 300px;
    padding: 10px;
  }

  .label {
    color: $dark-bluegray;
    font-size: $small-font-size;
    font-weight: $bold;
  }

  img.main-image {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }

  .text {
    padding: 1.25rem;

    p {
      margin-bottom: 0.5rem;
    }
  }

  h1 {
    font-size: 2.25rem;
    font-weight: $semi-bold;
    margin: 1rem;
    text-align: center;
  }

  h2 {
    color: $navy-blue;
  }

  p {
    font-size: 0.875rem;
    font-weight: $normal;
    line-height: 1.5rem;
    margin: 0 3rem;
    padding: 0;
  }

  header.modal-header {
    margin-bottom: 1rem;

    h1 {
      font-size: 1rem;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0.75rem;
      margin-top: 0.75rem;
    }
  }

  .body {
    box-sizing: border-box;
    color: $modal-body-color;
    font-size: .8125rem;
    padding: 1.5rem;

    form {
      align-items: normal;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    header {
      font-size: 1.25rem;
      font-weight: $semi-bold;
    }

    .flash {
      border-radius: 0.3125rem;
      margin: 1rem 0;
      padding: .5rem 1rem;
    }

    .flash.error {
      background-color: $light-red;
      border: 1px solid $red;
      color: $red;
    }

    hr {
      border-bottom: 1px solid $modal-hr-color;
      border-top: none;
      border-left: none;
      border-right: none;
      margin: 1.25rem 0;
    }

    label {
      color: $modal-label-color;
      font-size: 0.6875rem;
      font-weight: $semi-bold;
    }

    input, select {
      border-radius: 0.3125rem;
      border: 1px solid $modal-input-select-border;
      box-sizing: border-box;
      color: $modal-input-select-color;
    }

    input {
      padding: 0.5rem .75rem;
    }

    select {
      padding: 0.5rem;
    }

    .buttons {
      align-items: center;
      display: flex;
      font-size: 1rem;
      justify-content: end;
      margin: 0;

      > *:not(:last-child) {
        margin-right: 1rem;
      }

      .button {
        background-color: $modal-button-background;
        border: none;
        border-radius: 25px;
        font-size: 1rem;
        padding: .875rem 2rem;
      }
    }
  }

  .buttons-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0.5rem;

    img {
      background-color: rgba($gray, 0.36);
      border-radius: 50%;
      padding: 0.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .modal {
    .modal-content {
      border-radius: 0;
      height: 100vh;
      left: 0;
      min-width: 100vw;
      position: fixed;
      top: 0;
      width: 100vw;

      img.main-image {
        flex: 1;
        object-fit: cover;
        width: 100vw;
      }

      .text {
        flex: 0;
        padding: 1.25rem;

        h1 {
          font-size: 1.5rem;
        }

        p {
          font-size: 0.75rem;
          line-height: 1.25rem;
          margin: 0;
        }
      }

      .buttons {
        flex: 0;
        margin: 0 1.5rem 1rem;
      }
    }
  }
}
