@import "variables";

.navbar-content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 1rem;
  width: 100%;
}

nav.main-navigation {
  color: $navbar-link-color;
  font-size: 1rem;

  #title-extra {
    strong {
      font-size: 0.8125rem;
      font-weight: $medium;
    }
  }

  .left-side {
    align-items: center;
    display: flex;
  }

  .left-side > * {
    margin-right: 1rem;
  }

  .right-side {
    align-items: center;
    display: flex;
  }

  h1 {
    font-size: 1.75rem;
    margin: 0;
  }

  small {
    font-size: .75rem;
  }

  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      display: flex;
    }

    .nav-link {
      border-bottom: 4px solid transparent;
      border-top: 4px solid transparent;
      color: $navbar-link-color;
      display: inline-block;
      font-size: .9375rem;
      font-weight: $medium;
      margin: 0 1.5rem;
      padding: .3125rem 0px;
      text-align: center;
      text-decoration: none;
      transition: all .15s ease-in-out;
    }

    .nav-link.active {
      border-bottom: 4px solid $navbar-link-underline-active;
      font-weight: $bold;
    }

    .nav-link:hover {
      color: $dark-bluegray;
    }

    .nav-link.schedule {
      border: 1px solid $navbar-link-color;
      border-radius: 50px;
      font-size: .8125rem;
      font-weight: $normal;
      margin-left: 1.25rem;
      margin-right: 0;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      transition: all .15s ease-in-out;
    }

    .nav-link.schedule:hover {
      color: $navbar-link-color;
      background: $navbar-link-schedule-hover-background-color;
      border: 1px solid $navbar-link-schedule-hover-border-color;
    }
  }
}

nav.main-navigation::after {
  background: linear-gradient(180deg, $navbar-shadow-gradient-start, $navbar-shadow-gradient-end);
  content: "";
  display: block;
  height: 6px;
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  nav.main-navigation {
    #title-extra {
      display: none;
    }

    .navbar-nav {
      .nav-link {
        margin: 0 .625rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  nav.main-navigation {
    font-size: .875rem;
    transition: all .15s ease-in-out;

    .navbar-container {
      padding: 1.75rem 1.375rem;
    }

    .logo {
      height: 40px;
      transition: all .15s ease-in-out;
    }

    h1 {
      font-size: 1.53125rem;
    }

    small {
      font-size: .65625rem;
    }

    .navbar-nav {
      .nav-link {
        font-size: .8125rem;
        margin: 0 .625rem;
        transition: all .15s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  nav.main-navigation {
    #title-extra {
      display: unset;
      width: 100px;
    }

    .left-side * {
      margin-right: .625rem;
    }

    .logo {
      height: 35px;
      margin-right: .625rem;
      transition: all .15s ease-in-out;
    }

    h1.title {
      font-size: 1.25rem;
      margin-right: 10px;
    }

    small {
      font-size: .5rem;
      transition: all .15s ease-in-out;
    }

    .navbar-nav {
      display: none;
    }

    .navbar-hamburger {
      cursor: pointer;
      display: inline-block;
    }
  }
}
