@import "variables";

.navbar-content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 1rem;
  width: 100%;
}

nav.main-navigation {
  color: $navbar-link-color;
  font-size: 1rem;

  .logo {
    display: block;
    flex-shrink: 0;
    height: auto;
    max-height: 57px;
    width: auto;
  }

  #title-extra {
    align-items: center;
    display: inline-flex;
    flex-shrink: 0;
    line-height: 0;
    margin: 0;

    .title-link {
      align-items: center;
      display: inline-flex;
    }

    img {
      display: block;
      height: auto;
      max-height: 2.25rem;
      max-width: 180px;
      width: auto;
    }

    strong {
      font-size: 0.8125rem;
      font-weight: $medium;
    }
  }

  .title-link {
    color: $navy-blue;
    text-decoration: none;
  }

  .left-side {
    align-items: center;
    display: flex;
    gap: 1rem;

    img {
      max-width: 100%;
    }
  }

  .right-side {
    align-items: center;
    display: flex;
  }

  h1 {
    font-size: 1.75rem;
    line-height: 1;
    margin: 0;
  }

  .navbar {
    .left-side {
      gap: 1.25rem;
    }

    h1.title {
      font-size: 1.875rem;
    }
  }

  small {
    font-size: .75rem;
  }

  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      display: flex;
    }

    .nav-link {
      border-bottom: 4px solid transparent;
      border-top: 4px solid transparent;
      color: $navbar-link-color;
      display: inline-block;
      font-size: .9375rem;
      font-weight: $medium;
      margin: 0 1rem;
      padding: .3125rem 0px;
      text-align: center;
      text-decoration: none;
      transition: all .15s ease-in-out;
    }

    .nav-link.active {
      border-bottom: 4px solid $navbar-link-underline-active;
      font-weight: $bold;
    }

    .nav-link:hover {
      color: $navbar-link-color-hover;
    }

    .nav-link.schedule {
      background: $navbar-link-schedule-background-color;
      border: 1px solid $navbar-link-schedule-border-color;
      border-radius: 50px;
      font-size: .8125rem;
      font-weight: $normal;
      margin-left: 1.25rem;
      margin-right: 0;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      transition: all .15s ease-in-out;
    }

    .nav-link.schedule:hover {
      color: $navbar-link-color;
      filter: brightness(108%);
    }

    .nav-link.schedule:active {
      filter: brightness(112%);
    }

    #help-link.nav-link {
      display: flex;

      svg {
        margin-left: 2px;
      }
    }

    .nav-link.nav-link-icon {
      margin-right: 0;
    }

    #user-initials, #grid-icon, #log-out-icon {
      padding: 5px;
      text-wrap: nowrap;
      background: aliceblue;
      border-radius: 5rem;
      width: 1.75rem;
      height: 1.75rem;
      display: flex;
      align-items: center;
      letter-spacing: -1px;
      text-align: center;
      font-size: 13px;
      justify-content: center;
    }
  }
}

nav.main-navigation::after {
  background: linear-gradient(180deg, $navbar-shadow-gradient-start, $navbar-shadow-gradient-end);
  content: "";
  display: block;
  height: 6px;
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  nav.main-navigation {
    #title-extra {
      display: inline-flex;
      width: clamp(90px, 11vw, 150px);

      img {
        max-height: 2rem;
        max-width: 100%;
      }
    }

    .navbar-nav {
      .nav-link {
        margin: 0 .625rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  nav.main-navigation {
    font-size: .875rem;
    transition: all .15s ease-in-out;

    .left-side {
      gap: 0.75rem;
    }

    .navbar {
      .left-side {
        gap: 0.875rem;
      }

      h1.title {
        font-size: 1.625rem;
      }
    }

    .navbar-container {
      padding: 1.75rem 1.375rem;
    }

    .logo {
      height: 40px;
      transition: all .15s ease-in-out;
    }

    h1 {
      font-size: 1.53125rem;
    }

    small {
      font-size: .65625rem;
    }

    .navbar-nav {
      .nav-link {
        font-size: .8125rem;
        margin: 0 0.5rem;
        transition: all .15s ease-in-out;
      }

      .nav-link.schedule {
        margin-left: 0.5rem;
      }

      #help-link.nav-link {
        svg {
          height: 13px;
          width: 13px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  nav.main-navigation {
    #title-extra {
      display: inline-flex;
      width: 100px;

      img {
        max-width: 100%;
      }
    }

    .left-side {
      gap: .625rem;
    }

    .navbar {
      .left-side {
        gap: .75rem;
      }

      h1.title {
        font-size: 1.375rem;
      }
    }

    .logo {
      height: 35px;
      margin-right: .625rem;
      transition: all .15s ease-in-out;
    }


    small {
      font-size: .5rem;
      transition: all .15s ease-in-out;
    }

    .navbar-nav {
      display: none;
    }

    .navbar-hamburger {
      cursor: pointer;
      display: inline-block;
    }
  }
}
