@use "variables" as *;

.password-new, .password-create {
  border: 1px solid $gray;
  border-radius: 0.3125rem;
  font-size: 0.8125rem;
  margin: .5rem 0;
  padding: 1rem;

  p:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}
