@import "variables";
@import "mixins/form";

.questions-index {
  @include form;

  form {
    height: 100%;
  }

  section {
    color: $navy-blue;
    margin: 0;
    padding: 0 $form-page-gutter;

    h1 {
      color: $navy-blue;
      font-size: 2.25rem;
      font-weight: $semi-bold;
      line-height: 2.75rem;
    }
  }

  .questions {
    ul {
      list-style: none;
      padding: 0;

      li {
        border-bottom: 1px solid $gray;
        padding: 1rem 0;

        &:last-of-type {
          border-bottom: 0;
        }

        .description {
          display: none;

          li {
            border: 0;
            padding: 0;
          }
        }

        &[data-value-projection-projected-value="1"] {
          .description {
            display: block;
          }
        }

        .question {
          align-items: center;
          display: flex;
          justify-content: space-between;
        }

        .answers {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
        }
      }
    }
  }

  .progress-steps {
    padding: 1.625rem $form-page-gutter;
  }

  .modal-content {
    form {
      padding: 1rem;

      p {
        color: $navy-blue;
        font-size: 0.625rem;
        line-height: initial;
        text-align: left;
      }

      select {
        border: 1px solid $bluegray;
        border-radius: 0.3125rem;
        margin-right: 2rem;
      }

      .autocomplete input {
        width: auto;
      }
    }

    .field {
      margin-bottom: 1.25rem;
    }
  }
}
