@use "variables" as *;

.pill {
  background: 0.75rem 50% / 1rem no-repeat url("check.svg") $pill-background-neutral;
  border: 1px solid $pill-border-neutral;
  border-radius: 1rem;
  flex: 1;
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 1rem;
  padding: 0.3125rem 0.75rem 0.3125rem 2rem;
  text-transform: uppercase;

  &.in_review {
    background-image: url("clock.svg");
  }

  &.due {
    background-color: $pill-background-due;
    background-image: url("clock.svg");
    border-color: $pill-border-due;
  }

  &.paid {
    background-color: $pill-background-paid;
    border-color: $pill-border-paid;
  }

  &.denied {
    background-color: $pill-background-active;
    background-image: url("x-circle.svg");
    border-color: $pill-border-active;
  }

  &.incomplete {
    background-image: url("icon-minus.svg");
  }

  &.cancelled {
    background-image: url("x.svg");
  }

  &.pending {
    background-image: url("minus.svg");
  }
}
