@import "variables";

.projects-index {
  .content {
    display: flex;
    height: 100vh;
    width: 100vw;

    .left {
      padding-left: 6.25rem;
      padding-top: 4.375rem;
      width: 60%;

      header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;

        select {
          height: 2rem;
        }
      }

      table {
        width: 100%;
      }
    }

    .right {
      padding-left: 7.5rem;
      padding-right: 4.063rem;
      padding-top: 4.375rem;
      width: 40%;
    }
  }
}
