@import "variables";
@import "mixins/date_fields";

.projects-index {
  height: 100%;

  main {
    min-height: 100vh;

    .content {
      color: $navy-blue;
      display: flex;
      width: 100vw;
  
      .left {
        flex: 1;
        margin-bottom: 3.125rem;
        padding-left: 6.25rem;
        padding-right: 3.75rem;
        padding-top: 4.375rem;
        width: 60%;
  
        header {
          align-items: center;
          border-bottom: 2px solid $gray; 
          display: flex;
          justify-content: space-between;
          margin-bottom: 1.875rem;
          width: 100%;
  
          select {
            color: $navy-blue;
            font-weight: $bold;
            height: 2rem;
            text-indent: 0.313rem;
            width: 233px;
          }
        }
  
        table {
          border-collapse: separate;
          border-spacing: 0 0.375rem;
          margin-bottom: 0.625rem;
          width: 100%;
  
          tr {
            text-align: left;
  
            &:not(:first-child) {
              box-shadow: 0px 1px 2px rgba(0,32,69,0.18);
            }
          }
  
          th {
            color: $dark-bluegray;
            font-size: 0.688rem;
            line-height: 0.875rem;
  
            &:first-of-type {
              padding-left: 1.25rem;
            }
          }
  
          .project {
            background-color: $light-light-blue;
  
            td {
              border-bottom: 1px solid $gray;
              border-top: 1px solid $gray;
              font-size: 0.75rem;
              font-weight: $normal;
              line-height: 1.25rem;
              padding-bottom: 0.625rem;
              padding-top: 0.625rem;
  
              &:first-of-type {
                border-bottom-left-radius: 0.313rem;
                border-left: 1px solid $gray;
                border-top-left-radius: 0.313rem;
                max-width: 150px;
                padding-left: 1.25rem;
              }
  
              &:last-of-type {
                border-bottom-right-radius: 0.313rem;
                border-right: 1px solid $gray;
                border-top-right-radius: 0.313rem;
              }
  
              &.title {
                font-weight: $bold;
              }
            }
          }
        }
  
        nav {
          display: flex;
          font-size: 0.75rem;
          justify-content: flex-end;
          
          span {
            color: $navy-blue;
            font-weight: $bold;
            padding: 0.313rem;
  
            a:visited {
              color: $navy-blue;
            }
          }
        }
      }
  
      .right {
        background-color: $light-light-blue;
        min-height: 100vh;
        width: 405px;
  
        div {
          margin-top: 4.375rem;
          padding-left: 3.75rem;
          padding-right: 3.75rem;
          width: 70%;
  
          h2 {
            font-size: 1.25rem;
            line-height: 1.75rem;
            margin-bottom: 0.5rem;
          }
  
          p {
            font-size: 0.813rem;
            line-height: 1.438rem;
          }
  
          a {
            text-decoration: none;
  
            &.button {
              font-size: 1rem;
              font-weight: $semi-bold;
              line-height: 1.313rem;
              margin-bottom: 2.625rem;
            }
  
            &.help {
              color: $dark-sky-blue;
              font-size: 0.875rem;
              font-weight: $bold;
              line-height: 1.125rem;
              margin-top: 2.375rem;
              text-align: center;
  
              img {
                display: inline-block;
                margin: auto;
                padding-right: 0.125rem;
                vertical-align: middle; 
              }
            }
          }
        }
      }
    }
  }
}

.projects-new,
.projects-create {
  @include date_fields;

  .modal-content.project {
    color: $navy-blue;
    display: flex;
    flex-direction: column;

    .close {
      display: flex;
      justify-content: flex-end;

      img {
        background-color: rgba($gray, 0.36);
        border-radius: 50%;
        padding: 0.5rem;
      }
    }

    h1 {
      color: $navy-blue;
      font-size: 2.25rem;
      line-height: 2.688rem;
      margin-left: 3rem;
      text-align: left;
    }

    div {
      width: 100%;

      p {
        font-size: 0.813;
        line-height: 1.438rem;
        margin-bottom: 1.438rem;
        text-align: left;
      }
    }
  }

  .project-form {
    color: $navy-blue;
    padding: 0 $form-page-gutter;

    h1 {
      font-size: 2.25rem;
      font-weight: $semi-bold;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: $bold;
    }

    .project-type-options {
      display: flex;
      flex-direction: row;

      &[data-value-projection-projected-value="research"] {
        label[for="project-type-research"] {
          background-color: $light-light-blue;
          border: 2px solid $navy-blue;
          padding: 1rem;
        }
      }

      &[data-value-projection-projected-value="university_class"] {
        label[for="project-type-university_class"] {
          background-color: $light-light-blue;
          border: 2px solid $navy-blue;
          padding: 1rem;
        }
      }

      &[data-value-projection-projected-value="meeting_or_conference"] {
        label[for="project-type-meeting_or_conference"] {
          background-color: $light-light-blue;
          border: 2px solid $navy-blue;
          padding: 1rem;
        }
      }

      label {
        align-items: flex-start;
        background-color: transparent;
        border: 1px solid $gray;
        display: flex;
        flex-direction: row;
        flex: 1;
        margin-right: 10px;
        padding: calc(1rem + 1px);

        &:last-child {
          margin-right: 0;
        }

        input {
          margin-right: 0.5rem;
        }

        .project-type-label {
          align-content: flex-start;
          display: flex;
          flex-direction: column;
          flex: 1;

          h3 {
            font-size: 1rem;
            font-weight: $bold;
            margin: 0;
            padding: 0;
          }

          p {
            font-size: 0.625rem;
            font-weight: $normal;
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    section.research {
      section {
        margin-bottom: 2.5rem;
      }

      .field {
        display: flex;
        flex-direction: column;

        label {
          color: $dark-bluegray;
          display: block;
          font-size: 0.625rem;
          font-weight: $bold;
        }

        p {
          display: flex;
          flex-direction: row;
          margin: 0;
          padding: 0;
        }

        input[type="text"],
        textarea {
          border-radius: $border-radius;
          border: 1px solid $bluegray;
          flex: 1;
          height: 2rem;
          margin-right: 2rem;
        }

        textarea {
          height: 3.675rem;
        }

        .explanation {
          display: block;
          flex: initial;
          font-size: 0.625rem;
          width: 240px;
        }

        ul {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          max-height: 175px;
          list-style: none;
          padding-left: 0;
          padding-top: 0;

          li {
            align-items: flex-start;
            display: flex;
            flex-direction: row;
            padding-bottom: 0.25rem;
            padding-right: 4.688rem;
            padding-top: 0.25rem;

            .other-discipline {
              display: none;

              input {
                margin-left: 0.5rem;
              }
            }

            #discipline-Other:checked + div {
              .other-discipline {
                display: block;
              }
            }

            label {
              color: $navy-blue;
              font-size: 0.8125rem;
              font-weight: $normal;
              line-height: 1.438rem;
              margin-left: 0.5rem;
            }

            input[type="radio"] {
              margin-top: 0.25rem;
            }
          }
        }
      }

      .small-title {
        color: $dark-bluegray;
        font-size: 0.75rem;
        margin-bottom: 0;

        label {
          color: $navy-blue;
          font-size: 0.6875rem;
          font-weight: $normal;
          padding-left: 1rem;
        }
      }
    }
  }
}
