@import "variables";
@import "mixins/icon_link";
@import "mixins/errors";

.registrations .modal-content {
  background: rgba($navy-blue, 0.85);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;

  .body{
    align-items: center;
    background: $white;
    border-radius: 10px;
    border: 1px solid $dark-gray;
    margin: 2rem auto;
    max-width: 800px;

    form {
      input[type="text"] {
        width: 100%;
      }
    }
  }
}
.registrations main {
  .content {
    align-items: center;
    color: $form-title-color;
    display: flex;
    flex-direction: column;
  }

  header {
    width: 60%;

    .h-with-link {
      align-items: baseline;
      display: flex;
      justify-content: space-between;
    }

    h1 {
      font-size: 2.25rem;
      margin-bottom: 0;
    }

    p {
      font-size: 0.813rem;
      margin-top: 0;
    }
  }

  form {
    @include errors;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;

    .section-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      &.blue-bg {
        background-color: $light-light-blue;
      }

      section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        width: 60%;

        &.basics {
          max-height: 420px;

          .field {
            &.email {
              margin-top: 3.625rem;
            }
          }
        }
        &.role {
          min-height: 400px;

          input[type="text"]:first-of-type {
            margin-bottom: 0;
          }
          p {
            width: 100%;
          }
          .orcid {
            max-width: 170px;
          }
        }
        &.emergency-contact {
          h2 {
            margin-bottom: 0;
          }
          p {
            margin-bottom: 1rem;
          }
        }
        &.address {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;

          section:nth-of-type(2) {
            height: 100%;

            .billing-title {
              display: flex;

              .field {
                align-items: center;
                display: flex;
                flex-direction: row;
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding-left: 1rem;
              }
            }
            .billing-contact {
              .field {
                margin-bottom: 0;
              }
            }
          }
        }
        &.terms {
          .field {
            align-items: center;
            display: flex;
            flex-direction: row;
          }
        }
        &.actions {
          height: 100px;
          margin-bottom: 0;

          div {
            align-items: center;
            display: flex;
            height: 90%;
            justify-content: flex-end;

            span {
              align-items: center;
              display: flex;

              img {
                color: $form-title-color;
                padding-left: 0.25rem;
                padding-right: 0.25rem;
              }
            }
            a {
              color: $form-title-color;
              font-size: 0.875rem;
            }
            button {
              margin-left: 4.625rem;
            }
          }
        }

        h2 {
          font-size: 1.25rem;
        }

        a {
          color: $dark-sky-blue;
          font-size: 0.75rem;
        }

        .helper-text {
          color: $semidark-bluegray;
          font-size: 0.75rem;
          font-weight: $light;
          margin-bottom: 0.25rem;
          margin-top: 0;

          strong {
            color: $dark-bluegray;
          }

          a {
            font-weight: $normal;
          }
        }

        .inline {
          align-items: center;
          display: flex;

          div {
            padding-right: 1rem;
          }
        }

        .no-field {
          display: none;
        }

        .field {
          display: flex;
          flex-direction: column;
          padding: 0;

          &.large {
            width: 423px;
          }
          &.medium {
            width: 332px;
          }
          &.small {
            min-width: 170px;
          }
          &.extra-small {
            min-width: 92px;
          }

          label, .label {
            color: $form-copy-color;
            font-size: 0.75rem;
            font-weight: $semi-bold;
            margin-bottom: 0.15rem;
          }

          input[type="text"],
          input[type="email"],
          input[type="password"],
          input[type="tel"],
          select,
          textarea {
            color: $navy-blue;
            background-color: $white;
            border: 1px solid $dark-bluegray;
            border-radius: 0.375rem;
            height: 34px;
            margin-bottom: 0.875rem;
            text-indent: 0.5rem;

            &.error {
              border-color: $error-red !important;
              border-width: 2px !important;
            }
          }
        }

        .radio-buttons {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;

          &.age-range {
            height: 1.5rem;
            margin-top: 1rem;

            label {
              font-weight: $normal;
            }
          }
          &.role {
            height: 6rem;

            label {
              color: $form-title-color;
              font-weight: $normal;
            }
            .error_messages {
              display: none;
            }
            .wrapped_label {
              display: inline;
            }
          }
          .radio-button {
            flex: 1;
            white-space: nowrap;

            label {
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  ul {
    background-color: $white;
    border-radius: 0.375rem;
    border: 1px solid $dark-bluegray;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 0;
    margin-top: 1rem;
    padding: 0;
    width: 423px;

    &:empty {
      display: none;
    }

    li {
      color: $form-title-color;
      font-size: 0.813rem;
      list-style: none;
      padding-bottom: 0.75rem;
      padding-left: 1rem;
      padding-top: 0.75rem;

      &:hover {
        background-color: $light-light-blue;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .registrations main{
    header {
      width: 80%;
    }
    form {
      .section-container {
        section {
          flex-wrap: nowrap;
          width: 80%;

          &.basics {
            max-height: none;

            .field {
              &.email {
                margin-top: 0;
              }
            }
          }
          &.role {
            .radio-buttons {
              height: auto;
              flex-wrap: nowrap;
            }
          }
          &.address {
            flex-direction: column;
            margin-bottom: 2rem;
          }
          .field {
            &.large {
              width: 315px;
            }
            &.medium {
              width: 315px;
            }
            &.small {
              min-width: 200px;
            }
            &.extra-small {
              min-width: 92px;
            }
          }
          .inline {
            align-items: flex-start;
            flex-direction: column;
            height: auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .registrations main{
    form {
      .section-container {
        section {
          &.address {
            .inline {
              align-items: flex-start;
              flex-direction: column;
              height: auto;
            }
          }
        }
      }
    }
  }
}
