@import "variables";
@import "mixins/tables";

div.initial-info {
  background-color: $light-gray;
  border: 1px solid $gray;
  border-radius: $border-radius;
  font-size: 0.875rem;
  padding: 1rem;
  text-align: justify;

  > p {
    text-align: justify;
  }

  > p:first-of-type {
    margin-top: 0;
  }

  > p:last-of-type {
    margin-bottom: 0;
  }
}

header.header-with-links {
  display: flex;
  gap: 2rem;
  margin: .75rem 0 0 0;

  h1 {
    display: flex;
    font-size: 1.5rem;
    font-weight: $medium;
    margin: 0;

    > a {
      border-bottom: 0 solid $gray;
      color: $navy-blue;
      text-decoration: none;
      transition: all .15s ease-in-out;
    }

    > a:not(.active) {
      color: $dark-bluegray;
    }

    > a:hover {
      border-bottom: 3px solid $gray;
    }

    > a.active {
      border-bottom: 3px solid $gray;
    }
  }

  + hr {
    border-bottom: 2px solid $gray;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 0;
  }
}

table.table-style1 {
  @include table-style1;
}

table.visit-requests {
  @include table-style1;

  tbody td {
    .disabled-link {
      filter: invert(50%);
      pointer-events: none;
    }

    &:first-of-type {
      width: 115px;
    }
  }

  .date-range {
    font-weight: $semi-bold;
  }

  .reserve-name {
    width: 175px;
  }
}
