@import "variables";

.progress-steps {
  background-color: $light-light-blue;
  border: 0;
  margin: 0;

  ol {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      color: $dark-bluegray;
      display: flex;
      flex-direction: row;
      font-size: 0.875rem;
      font-weight: $semi-bold;
      line-height: 1rem;
      padding-right: 2.5rem;

      svg {
        //border-radius: 3em;
        margin: 0.25rem;
      }



      &.active {
        color: $navy-blue;

        circle {
          fill: $gold;
        }
      }
    }
  }
}
