@import "mixins/layouts";
@import "mixins/form";
@import "variables";
@import "mixins/tables";

.team_memberships-index,
.team_memberships-edit,
.team_memberships-create {
  color: $navy-blue;

  .form-container {
    box-sizing: border-box;
    margin:0 auto;
    max-width: 950px;
    padding: 0 10px;
    width: 100%;
  }

  .add-user-form {
    flex: 1;

    form {
      @include form;
    }

    header {
      h1 {
        color: $navy-blue;
        font-size: 2.25rem;
        font-weight: $semi-bold;
        line-height: 2.75rem;
      }
    }

    section.form-subsection,
    div.form-subsection {
      margin-bottom: 3rem;
    }

    section.form-subsection > header,
    section.form-subsection > :not(section) > header {
      margin-bottom: 1rem;

      h2 {
        margin: 0;
      }

      > span {
        color: $dark-bluegray;
        font-size: 0.875rem;
      }
    }

    h2 {
      color: $navy-blue;
      font-size: 1.5rem;
      font-weight: $semi-bold;

      span {
        color: $dark-bluegray;
        font-size: 1.25rem;
        font-weight: $normal;
        margin-left: 30px;
      }
    }

    section.uneditable-visit-project-info {
      border-left: 3px solid $navy-blue;
      padding-left: 1rem;

      h3 {
        font-size: 1rem;
        font-weight: $bold;
        margin: 0;
      }

      p {
        color: $dark-bluegray;
        font-size: 0.75rem;
        font-weight: $normal;
        margin-top: 0.5rem;
      }
    }

    form {
      #project-role-select {
        width: 200px;
      }

      .submit-row {
        @include inline-between;
      }
    }

    .add-user-form-header {
      @include inline-between;
    }

    .team-member-table {
      @include table-style1;
    }
  }

  #project-details {
    .team_memberships-index {
      padding: 0px;
    }
  }

  .modal-content {
    form {
      padding: 1rem;

      p {
        color: $navy-blue;
        font-size: 0.625rem;
        line-height: initial;
        text-align: left;
      }

      .autocomplete input {
        width: auto;
      }
    }

    .field {
      margin-bottom: 1.25rem;
    }
  }
}
