@use "variables" as *;

[data-value-projection-projected-value] {
  .project_select {
    .label_container {
      display: none;
    }
  }
}

[data-value-projection-projected-value=""] {
  .project_select {
    display: none;
  }
}

[data-value-projection-projected-value="research"] {
  .project_select {
    #project-label-research {
      display: initial;
    }
  }
}

[data-value-projection-projected-value="university_class"] {
  .project_select {
    #project-label-university_class {
      display: initial;
    }
  }
}

[data-value-projection-projected-value="meeting_or_conference"] {
  .project_select {
    #project-label-meeting_or_conference {
      display: initial;
    }
  }
}

[data-value-projection-projected-value="public_use"] {
  .project_select {
    #project-label-public_use {
      display: initial;
    }
  }
}
