// Font Names
$sans-serif: sans-serif;
$sora: "Sora";

// Font Styles
$bold: 700;
$light: 300;
$medium: 500;
$normal: 400;
$semi-bold: 600;

// Font Sizes
$base-font-size: 16px;
$small-font-size: 0.75rem;
$small-heading-size: 1.5625rem;

// Standard Sizes
$form-page-gutter: 281px;
$border-radius: 0.3125rem;
$manager-container-width: 1240px;

// Colors
$transparent: rgba(0, 0, 0, 0);

$black: #000000;
$darker-gray: #1D1D1D;
$cornflower: #6dccf6;
$dark-bluegray: #556b72;
$bluegray: lighten($dark-bluegray, 20%);
$light-bluegray: lighten($dark-bluegray, 40%);
$extra-light-bluegray: lighten($dark-bluegray, 52%);
$semidark-bluegray: #5D747C;

$gold: #ffb511;
$light-gold: lighten($gold, 35%);
$medium-light-gold: lighten($gold, 25%);
$medium-dark-gold: darken($gold, 5%);

$blue: #84d7f5;
$yellow: #fefea4;
$pink: #f9c;
$gray: #aab7bb;
$green: #c4fcb9;
$red-alert: #ff9e9e;
$dark-gray: darken($gray, 25%);
$darker-gray: #1D1D1D;
$light-gray: #f3f6f7;
$light-light-blue: #f3f6f7;
$navy-blue: #002045;
$navy-blue-025: rgba($navy-blue, .025);
$navy-blue-20: rgba($navy-blue, .20);
$red: #c03e2d;
$light-red: lighten($red, 45%);
$sky-blue: rgba(18, 149, 216, 1);
$dark-sky-blue: rgba(14, 118, 170, 1);
$white: #ffffff;
$white-50: rgba($white, 0.50);
$white-75: rgba($white, 0.75);
$lightgreen: rgb(123, 202, 123);
$light-pink: rgb(248, 204, 226);
$lightgray: rgb(222, 231, 233);

// Semantic Colors
$active-button-fill: $gold;
$active-button-text: $navy-blue;
$buttonset-background-selected: $gray;
$buttonset-background: $white;
$buttonset-border: $gray;
$buttonset-foreground-selected: $white;
$buttonset-foreground: $gray;
$flash-green: $green;
$form-copy-color: $dark-bluegray;
$form-title-color: $navy-blue;
$footer-background-color: $navy-blue;
$footer-color: $white-75;
$footer-color-right-side: $white-50;
$footer-newsletter-color: $sky-blue;
$hero-copy: $white;
$hero-emphasis: $gold;
$hero-link: $cornflower;
$hero-title: $white;
$signin-legal: $dark-gray;
$modal-body-color: $navy-blue;
$modal-button-background: $gold;
$modal-hr-color: $gray;
$modal-input-select-border: $gray;
$modal-input-select-color: $navy-blue;
$modal-label-color: $dark-bluegray;
$navbar-shadow-gradient-start: $navy-blue-20;
$navbar-shadow-gradient-end: $navy-blue-025;
$navbar-link-underline-active: $gold;
$navbar-link-color: $navy-blue;
$navbar-link-color-hover: $medium-dark-gold;
$navbar-link-schedule-hover-background-color: $gold;
$navbar-link-schedule-hover-border-color: $gold;
$news-headline-color: $navy-blue;
$news-title-color: $white;
$news-viewall-color: $gold;
$pill-background-active: $gold;
$pill-background-neutral: $white;
$pill-border-active: $gold;
$pill-border-neutral: $gray;
$section-background-even: $light-gray;
$section-background-odd: $white;
$table-row-background-highlight: rgba($gold, 0.32);
$table-row-border-highlight: $gold;
$table-row-even-background-neutral: $white;
$table-row-even-border-neutral: $gray;
$table-row-odd-background-neutral: $light-gray;
$table-row-odd-border-neutral: $gray;
$table-text-color: $navy-blue;
$error-red: $red;
