// Font Names
$sans-serif: sans-serif;
$sora: "Sora";

// Font Styles
$bold: 700;
$medium: 500;
$normal: 400;
$semi-bold: 600;

// Font Sizes
$base-font-size: 16px;

// Colors
$cornflower: #6dccf6;
$dark-bluegray: #5f777f;
$bluegray: lighten($dark-bluegray, 20%);
$gold: #ffb511;
$gray: #aab7bb;
$light-gray: #f3f6f7;
$navy-blue: #002045;
$navy-blue-025: rgba($navy-blue, .025);
$navy-blue-20: rgba($navy-blue, .20);
$red: #c03e2d;
$sky-blue: rgba(18, 149, 216, 1);
$white: #ffffff;
$white-50: rgba($white, 0.50);
$white-75: rgba($white, 0.75);

// Semantic Colors
$active-button-fill: $gold;
$active-button-text: $navy-blue;
$buttonset-background-selected: $gray;
$buttonset-background: $white;
$buttonset-border: $gray;
$buttonset-foreground-selected: $white;
$buttonset-foreground: $gray;
$form-copy-color: $dark-bluegray;
$form-title-color: $navy-blue;
$footer-background-color: $navy-blue;
$footer-color: $white-75;
$footer-color-right-side: $white-50;
$footer-newsletter-color: $sky-blue;
$hero-copy: $white;
$hero-emphasis: $gold;
$hero-link: $cornflower;
$hero-title: $white;
$navbar-shadow-gradient-start: $navy-blue-20;
$navbar-shadow-gradient-end: $navy-blue-025;
$navbar-link-underline-active: $gold;
$navbar-link-color: $navy-blue;
$navbar-link-schedule-hover-background-color: $gold;
$navbar-link-schedule-hover-border-color: $gold;
$news-headline-color: $navy-blue;
$news-title-color: $white;
$news-viewall-color: $gold;
$pill-background-active: $gold;
$pill-background-neutral: $white;
$pill-border-active: $gold;
$pill-border-neutral: $gray;
$section-background-even: $light-gray;
$section-background-odd: $white;
$table-row-background-highlight: rgba($gold, 0.32);
$table-row-border-highlight: $gold;
$table-row-even-background-neutral: $white;
$table-row-even-border-neutral: $gray;
$table-row-odd-background-neutral: $light-gray;
$table-row-odd-border-neutral: $gray;
$table-text-color: $navy-blue;
$error-red: $red;
