// Font Names
$sans-serif: sans-serif;
$sora: "Sora";

// Font Styles
$bold: 700;
$medium: 500;
$semi-bold: 600;

// Font Sizes
$base-font-size: 16px;

// Colors
$cornflower: #6dccf6;
$dark-bluegray: #5f777f;
$bluegray: lighten($dark-bluegray, 20%);
$gold: #ffb511;
$navy-blue: #002045;
$white: #ffffff;

// Semantic Colors
$active-button-fill: $gold;
$active-button-text: $navy-blue;
$form-copy-color: $dark-bluegray;
$form-title-color: $navy-blue;
$hero-copy: $white;
$hero-emphasis: $gold;
$hero-link: $cornflower;
$hero-title: $white;
