@import "variables";
@import "mixins/summary";
@import "mixins/date_fields";
@import "mixins/form";
@import "mixins/controls";
@import "mixins/tables";
@import "mixins/flex";
@import "mixins/layouts";

.visits-new,
.visits-edit,
.visits-update,
.visits-create {
  @include controls;

  .form-container {
    @include projects-visits-form-container;
  }

  .visits-form {
    @include projects-visits-form-layout;

    .date-range-select {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .date-time-select {
        select {
          background-color: white;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }

        input {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
      }

      .separator {
        border: 1px solid $black;
        font-size: 0;
        height: 0;
        margin: 0.5rem;
        width: 0.625rem;
      }
    }
  }

  .reserve-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;

    .reserve-field {
      width: 23rem;
    }

    .display-row-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      a {
        padding: 0px;
      }
    }

    .error {
      color: $red;
    }
  }

  .flex-break {
    flex-basis: 100%;
    height: 0;
  }

  .reserve-message {
    background-color: $gold;
    border-radius: 0.3125rem;
    font-size: 0.8125rem;
    margin-bottom: 1rem;
    padding: 1.5rem;

    > p:first-of-type {
      margin-top: 0;
    }

    > p:last-of-type {
      margin-bottom: 0;
    }

    p {
      line-height: 1.5rem;
      margin-bottom: 1.2rem;
    }
  }

  .special-needs-statement:empty {
    display: none;
  }
}

.visits-show {
  .visit.container {
    @include summary;

    display: flex;
    flex-direction: row;

    .content {
      .summary-header {
        display: flex;
        justify-content: space-between;

        .cancel-btn {
          font-size: 1rem;
          font-weight: $medium;
          text-decoration: none;
        }
      }

      .edit-btn {
        border: 1px solid $navbar-link-color;
        border-radius: 50px;
        font-size: .8125rem;
        font-weight: $normal;
        margin-left: 1.25rem;
        margin-right: 0;
        padding: 0.5rem 1.25rem;
        text-decoration: none;
        transition: all .15s ease-in-out;
      }

      .edit-btn:hover {
        color: $navbar-link-color;
        background: $navbar-link-schedule-hover-background-color;
        border: 1px solid $navbar-link-schedule-hover-border-color;
      }

      .visit-summary {
        margin-bottom: 3rem;
      }

      .visit-summary-table {
        margin-bottom: 2rem;

        td {
          padding-bottom: 0.3rem;
          padding-right: 2rem;
          padding-top: 0.3rem;
        }

        td:nth-child(2) {
          font-weight: $semi-bold;
        }
      }

      .summary-table {
        tr.amenity-total {
          td {
            border-bottom: none;
            padding-top: 1.5rem;
          }
          td:nth-last-child(2) {
            text-align: right;
          }
        }
      }
    }
  }

  .reserve-personnel, .reserve-info {
    a {
      color: $sky-blue;
      display: block;
      font-size: 0.875rem;
      font-weight: $medium;
      margin: 1rem 0;
      padding-left: 1.5625rem;
      position: relative;
      text-decoration: none;
    }

    h2 {
      font-size: 0.9375rem;
      font-weight: $semi-bold;
      margin: 0;
    }

    .card {
      display: flex;
      margin-bottom: 20px;
      margin-top: 20px;

      .image img {
        border-radius: 3rem;
        height: 75px;
        margin-right: 1.25rem;
        width: 75px;
      }

      .details {
        h2 {
          margin: 0;
        }

        > span {
          display: block;
        }
      }
    }

    hr {
      border-bottom: 1px solid $gray;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      margin: 1.5625rem 0;
    }
  }

  .reserve-info {
    .reserve-icon {
      height: 100px;
      width: 100px;
    }

    h2 {
      margin: .5rem 0;
    }

    .reserve-address span {
      display: block;
    }
  }

  .invoice-totals {
    border-collapse: collapse;
    height: 129px;
    margin-top: 60px;
    width: 233px;

    td:nth-child(1) {
      text-align: left;
    }

    td:nth-child(2) {
      font-weight: $semi-bold;
      text-align: right;
    }

    tr.invoice-total td {
      border-top: 1px solid $black;
    }
  }

  .invoices {
    @include table-style1;

    td:nth-child(1) {
      span {
        padding-right: 1rem;
        width: fit-content;
      }
    }

    td:nth-child(2) {
      font-weight: $semi-bold;
    }

    tfoot {
      font-size: 13px;

      .total-balance-label {
        padding-right: 10px;
        text-align: right;
      }
    }
  }

  .invoice-select {
    border: 1px solid $dark-bluegray;
    border-radius: 0.3125rem;
    font-family: $sora, $sans-serif;
    height: 34px;
    padding-left: 10px;
  }

  .invoice-list {
    @include flex(row, space-between);
    margin-top: 60px;
    margin-bottom: 0 !important;
  }

  .disabled-link {
    filter: invert(50%);
    pointer-events: none;
  }

  .create-invoice {
    border: 1px solid $navbar-link-color;
    border-radius: 50px;
    color: $navbar-link-color !important;
    font-size: .8125rem;
    font-weight: $normal;
    height: fit-content;
    margin-left: 1.25rem;
    margin-right: 0;
    padding: 0.5rem 1.25rem;
    text-decoration: none;
    transition: all .15s ease-in-out;
  }

  .create-invoice:hover {
    background: $navbar-link-schedule-hover-background-color;
    border: 1px solid $navbar-link-schedule-hover-border-color;
  }
}
