@import "variables";
@import "mixins/summary";
@import "mixins/date_fields";
@import "mixins/form";
@import "mixins/controls";

.visits-new,
.visits-edit,
.visits-update,
.visits-create {
  .footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 30px 281px !important;

    input {
      margin-left: 20px;
      padding: 20px;
    }

    button {
      margin-left: 100px;
    }

    a {
      align-items: center;
      color: $dark-bluegray;
      display: flex;
      text-decoration: none;

      img {
        margin-right: 7px;
      }
    }
  }

  .reserve-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;

    .reserve-field {
      border-radius: 0.5rem;
      width: 23rem;
    }

    .display-row-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    label {
      color: $dark-bluegray;
      display: inline;
      font-size: 0.625rem;
      font-weight: $bold;
    }
    
    .error {
      color: $red;
    }

    select {
      background-color: white;
      border: 1px solid;
      border-radius: 0rem 0.5rem 0.5rem 0rem;
      padding: 0.6rem;
    }

    input {
      border: 1px solid;
      border-radius: 0.5rem 0rem 0rem 0.5rem;
      padding: 0.61rem;
    }
  }

  .amenities {

    h2 {
      margin-bottom: 40px;

      span {
        color: $dark-bluegray;
        font-size: $medium;
        margin-left: 30px;
      }
    }
  }

  .flex-break {
    flex-basis: 100%;
    height: 0;
  }

  .date-range-select {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .separator {
      border: 1px solid $black;
      font-size: 0;
      height: 0;
      margin: 0.5rem;
      width: 0.625rem;
    }
  }

  .reserve-specific-fields {
    display: flex;
    flex-direction: column;
  }

  .special-needs-statement:empty {
    display: none;
  }

  .amenities-header {
    display: flex;
    justify-content: space-between;
  }

  .visit-form {
    color: $navy-blue;
    padding: 0 $form-page-gutter;

    h1 {
      font-size: 2.25rem;
      font-weight: $semi-bold;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: $bold;
    }

    .project-type-options {
      
      .row {
        display: flex;
        flex-direction: row;
        margin-bottom: 3rem;
        
        &[data-value-projection-projected-value="research"] {
          label[for="project-type-research"] {
            background-color: $light-light-blue;
            border: 2px solid $navy-blue;
            padding: 1rem;
          }
        }

        &[data-value-projection-projected-value="university_class"] {
          label[for="project-type-university_class"] {
            background-color: $light-light-blue;
            border: 2px solid $navy-blue;
            padding: 1rem;
          }
        }

        &[data-value-projection-projected-value="meeting_or_conference"] {
          label[for="project-type-meeting_or_conference"] {
            background-color: $light-light-blue;
            border: 2px solid $navy-blue;
            padding: 1rem;
          }
        }

        &[data-value-projection-projected-value="public_use"] {
          label[for="project-type-public_use"] {
            background-color: $light-light-blue;
            border: 2px solid $navy-blue;
            padding: 1rem;
          }
        }

        label {
          align-items: flex-start;
          background-color: transparent;
          border: 1px solid $gray;
          display: flex;
          flex-direction: row;
          flex: 1;
          margin-right: 10px;
          padding: calc(1rem + 1px);

          &:last-child {
            margin-right: 0;
          }

          input {
            margin-right: 0.5rem;
          }

          .project-type-label {
            align-content: flex-start;
            display: flex;
            flex-direction: column;
            flex: 1;

            h3 {
              font-size: 1rem;
              font-weight: $bold;
              margin: 0;
              margin-bottom: 0.5rem;
              padding: 0;
            }

            p {
              font-size: 0.625rem;
              font-weight: $normal;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
    .text-area {
      margin-bottom: 3rem;

      textarea {
        border-radius: 0.5rem;
        font-family: $sora;
        font-size: 0.6875rem;
        height: 6.675rem;
        padding: 0.5rem;
        width: 100%;
      }

      label {
        color: $dark-bluegray;
        display: inline;
        font-size: 0.625rem;
        font-weight: 700;
      }
      
      .error {
        color: $red;
        font-size: small;
      }
    }

    .project_select {
      
      .select_or_new{ 
        display: flex;
        align-items: center;
        
        .display-column-flex {
          display: flex;
          flex-direction: column;
          margin-bottom: 1px;
        }
  
        .project-create-link {
          padding: 0.5rem 0rem 0.5rem 4rem;
        }
  
        label {
          color: $dark-bluegray;
          display: inline;
          font-size: 0.625rem;
          font-weight: 700;
        }
        
        .error {
          color: $red;
        }
  
        select {
          background-color: white;
          border: 1px solid;
          border-radius: 0.5rem;
          min-width: 35rem;
          padding: 0.6rem;
        }
      
      }
  
      .uneditable-project-type {
        border-left: 3px solid $navy-blue;
        margin-bottom: 2rem;
        padding-left: 1rem;
  
        h3 {
          font-size: 1rem;
          font-weight: $bold;
          margin-bottom: 0;
        }
  
        p {
          font-size: 0.625rem;
          font-weight: $normal;
          margin-top: 0.5rem;
        }
      }
  
      section.research,
      section.class,
      section.meeting {
        @include form;
      }
    }
  }
  
  .error {
    border-color: $red;
    border-width: 2px !important;
    color: $red;
    font-size: small;
    .error_messages { 
      margin-left: 5px;
    }
  }
}

.visits-show {
  .visit.container {
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
  
    @include summary;

    .content {

      .visit-summary {
        margin-bottom: 3rem;
      }
  
      .visit-summary-table {
        margin-bottom: 2rem;
  
        td {
          padding-bottom: 0.3rem;
          padding-right: 2rem;
          padding-top: 0.3rem;
        }
  
        td:nth-child(2) {
          font-weight: $semi-bold;
        }
      }

      .summary-table {
        tr.amenity-total {
          td {
            border-bottom: none;
            padding-top: 1.5rem;
          }
          td:nth-last-child(2) {
            text-align: right;
          }
        }
      }
    }
  }

  .reserve-personnel, .reserve-info {
    a {
      color: $sky-blue;
      display: block;
      font-size: 0.875rem;
      font-weight: $medium;
      margin: 1rem 0;
      padding-left: 1.5625rem;
      position: relative;
      text-decoration: none;
    }

    h2 {
      font-size: 0.9375rem;
      font-weight: $semi-bold;
      margin: 0;
    }

    .card {
      display: flex;

      .image img {
        border-radius: 3rem;
        margin-right: 1.25rem;
      }

      .details {
        h2 {
          margin: 0;
        }

        span {
          display: block;
        }
      }
    }

    hr {
      border-bottom: 1px solid $gray;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      margin: 1.5625rem 0;
    }
  }

  .reserve-info {
    h2 {
      margin: .5rem 0;
    }
  }

  .reserve-personnel {
    hr:last-of-type {
      display: none;
    }
  }
}
