@import "variables";
@import "mixins/summary";
@import "mixins/date_fields";
@import "mixins/form";
@import "mixins/controls";
@import "mixins/tables";

.waivers_policies-show,
.waivers_policies-update {
  color: $navy-blue;

  .form-container {
    box-sizing: border-box;
    margin:0 auto;
    max-width: 950px;
    padding: 0 10px;
    width: 100%;
  }

  section.visits-form {
    flex: 1;
    font-size: 14px;

    form {
      @include form;
    }

    header {
      h1 {
        color: $navy-blue;
        font-size: 2.25rem;
        font-weight: $semi-bold;
        line-height: 2.75rem;
      }
    }

    section.form-subsection,
    div.form-subsection {
      margin-bottom: 3rem;
    }

    section.form-subsection > header,
    section.form-subsection > * > header {
      margin-bottom: 1rem;

      h2 {
        margin: 0;
      }

      > span {
        color: $dark-bluegray;
        font-size: 0.875rem;
      }
    }

    h2 {
      color: $navy-blue;
      font-size: 1.5rem;
      font-weight: $semi-bold;

      span {
        color: $dark-bluegray;
        font-size: 1.25rem;
        font-weight: $normal;
        margin-left: 30px;
      }
    }
  }

  .agreement-info {
    .reserve-waivers {
      h2 {
        font-size: 0.9375rem;
        font-weight: $semi-bold;
        margin: 0;
      }
    }

    .policy-agreement {
      .description {
        display: flex;
        justify-content: space-between;

        p:first-of-type {
          margin-top: 0;
        }

        .agreement-logo {
          margin-left: 1rem;
          max-height: 100px;
        }
      }
    }

    .agree-all {
      align-items: center;
      background: $gold;
      border-radius: $border-radius;
      display: flex;
      padding: 15px 10px;

      .checkbox {
        background-color: $light-gray;
        border-radius: $border-radius;
        display: flex;
        height: fit-content;
        margin: 0 0 0 1rem;
        padding: 10px;
        width: 20rem;

        label{
          font-size: 0.813rem;
          margin: auto 0;
          padding-left: 5px;
        }
      }
    }

    .agree,
    .agree-error {
      display: flex;
      border-radius: $border-radius;
      flex-direction: row;
      padding: 10px;

      input[type="checkbox"] {
        height: 16px;
        margin: auto 0;
        width: 16px;
      }

      label {
        color: $navy-blue;
        font-size: 0.813rem;
        height: 23px;
        letter-spacing: 0;
        line-height: 23px;
        margin: auto 0;
        padding-left: 10px;
        width: 296px;
      }
    }

    .agree {
      background-color: $light-gray;

      label {
        .require{
          display: none;
        }
      }
    }

    .agree-error {
      background-color: $light-red;

      label {
        .require{
          display: inline-block;
          color: $red;
        }
      }
    }

    .signature {
      display: flex;
      justify-content: center;
      padding: 10px;
    }

    .policy-link {
      color: $sky-blue;
      display: block;
      font-weight: bold;
      font-size: 0.813rem;
      height: 18px;
      line-height: 18px;
      letter-spacing: 0;
      margin: 10px 0;
      text-decoration: none;
    }
  }
}

.waivers-list {
  padding: 0 400px;
}
