<section class="content full">
  <header>
    <h1>Flex Report</h1>
  </header>

  <hr />

  <section class="search-subsection">
    <%= render partial: "flex_options", locals: { presenter: @presenter } %>
  </section>

  <section class="reserve-info-subsection">
    <%= render partial: @presenter.html, locals: { data: @presenter.data, presenter: @presenter } %>
  </section>
</section>
