<div>
  <h1><%= t(".title") %></h1>
  <hr />
  <turbo-frame id="details">
    <%= render partial: "reserve_addendums",
      locals: { reserve_addendums: @presenter.reserve_addendums }
    %>
  </turbo-frame>
</div>
