<turbo-frame id="funding-table">
  <table class="funding-table">
    <thead>
      <tr>
        <th><%= t(".title") %></th>
        <th><%= t(".funding_agency") %></th>
        <th><%= t(".award_amount") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "shared/projects/fundings/funding", collection: presenter.fundings %>
    </tbody>
  </table>
</turbo-frame>
