<turbo-frame id="visit-details">
  <section class="activity-and-notes">
    <turbo-frame id="activity_logs">
      <%= render partial: "activity_table", locals: { presenter: @presenter } %>
    </turbo-frame>
    <turbo-frame id="visit_notes">
      <%= render partial: "visit_notes", locals: { presenter: @presenter } %>
    </turbo-frame>
  </section>
</turbo-frame>
