<div class="form-group">
  <%= form.label :title, "Title", class: "form-label" %>
  <%= form.text_field :title, class: "form-input" %>
</div>
<br />
<div class="form-group">
  <%= form.label :feature, "Body", class: "form-label" %>
  <%= form.rich_text_area :feature, class: "form-textarea" %>
</div>
