<%= form_with model: @presenter.form,
  url: admin_new_features_path,
  method: :post do |form|
%>
  <h2>Create new feature announcement</h2>
  <%= render partial: "new_feature_field", locals: { form: form } %>

  <section class="buttons">
    <%= button_tag t("create"), class: "active", type: "submit" %>
  </section>
<% end %>
