<div style="font-size:14px; text-align:center; background-color:#fefea4;">
  <div class="container">
    <p style="font-size: 0.9375rem; margin: 0; padding: 1rem;">
      Attention RAMS users: we are experiencing slow page loads at this time.
      This is a known issue and we are working to fix it within the week
    </p>
  </div>
</div>
