<div style="font-size:14px; text-align:center; background-color:#c4fcb9;">
  <div class="container">
    <p style="font-size: 0.9375rem; margin: 0; padding: 1rem;">
      Attention RAMS users: The issue causing slow page loads has been resolved.
      If you continue to experience any loading problems, please contact us
      <%= link_to "here", "https://ramshelp.ucnrs.org/add-your-feedback/", target: "_blank" %>.
    </p>
  </div>
</div>
