<nav class="main-navigation" role="navigation">
  <% if layout_presenter.current_user_is_manager_admin? %>
    <%= render(partial: "layouts/manager_superbar", locals: { layout_presenter: layout_presenter }) %>
  <% end %>

  <%= render(partial: "layouts/manager_navbar", locals: { layout_presenter: layout_presenter }) %>
</nav>
