<section class="open-beta">
  <div class="container">
    <p>
      We are in the open beta phase. Please don't hesitate to give us a feedback at:
      <%= link_to "https://ramshelp.ucnrs.org/add-your-feedback/", "https://ramshelp.ucnrs.org/add-your-feedback/", target: "_blank" %>.
      Thank you for your help.
    </p>
  </div>
</section>
