<nav class="main-navigation" role="navigation" style="background: no-repeat center/cover url(<%= @presenter.large_hero_photo_src %>);">
  <%= render(partial: 'layouts/manager_superbar', locals: { current_user: current_user }) if current_user&.is_manager? %>
  <%= render partial: 'layouts/navbar', locals: { current_user: current_user } %>
</nav>
