<header class="open-beta" style="font-size:14px; text-align:center; background-color:#c4fcb9;">
  <div class="container">
    <p>
      Welcome to RAMS 3.0!  Please see our
      <%= link_to "help docs", "https://ramshelp.ucnrs.org", target: "_blank" %>
      for a quick overview of what is new.
    </p>
  </div>
</header>
