<%= form.radio_button :status, context, id: context, class: "h-input" , disabled: presenter.status_bar_disabled?, data: { action: action } %>
<label for=<%= context %> class="tab">
  <%= render partial: "shared/visits/status", locals: {context: context, img: img} %>
</label>
