<turbo-frame id="visit-summary-edit">
  <section class="visit-summary-edit" data-controller="summary-tab">
    <%= form_with model: @presenter.form,
      url: manager_reserve_visit_summary_path(@presenter.reserve, @presenter.visit),
      method: :put do |form|
    %>
      <%= render partial: "status_bar", locals: { form: form, presenter: @presenter } %>
      <%= render partial: "email_notification", locals: { form: form, presenter: @presenter } %>
      <div class="form-end">
        <%= form.submit t(".update_status") %>
      </div>
    <% end %>
  </section>
</turbo-frame>

