<turbo-frame id="visit-summary-edit">
  <div class="summary section-spacing" data-controller="summary-tab">
    <%= form_with model: @presenter.form, url: manager_reserve_visit_summary_path(@presenter.reserve.id, @presenter.visit.id), method: :put do |form| %>
      <%= render partial: "status_bar", locals: { form: form, presenter: @presenter } %>
      <%= render partial: "email_notification", locals: { form: form, presenter: @presenter } %>
      <div class="d-flex-end">
        <%= form.submit t(".update_status") %>
      </div>
    <% end %>
  </div>
</turbo-frame>

